Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

- one line
  src/services/web3.js
Due: npm run lint:js

Update JInput
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
Due: npm run lint:js, npm run lint:css

Remove -radius global scss var
  src/styles/_base.scss
Due: npm run lint:css

Add -three color scss var
  src/styles/colors.scss
Due: npm run lint:css

Update PasswordFieldIndicator
  src/components/PasswordField/Indicator/PasswordFieldIndicator.js
Due: npm run lint:js

Update PasswordField
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordFieldContainer.js
  src/components/PasswordField/index.js
Due: npm run lint:js

Update keystore service (add getPasswordStrength method)
  src/services/keystore.js
Due: npm run lint:js

Add flow type for password field indicator
  flow-typed/types.js
Due: none

Update WalletPasswordStep (integrate PasswordField)
  src/components/WalletPasswordStep/WalletPasswordStep.js
Due: npm run lint:js

Update PasswordField component (#362)
  .eslintrc
  flow-typed/types.js
  package-lock.json
  src/components/PasswordField/Indicator/PasswordFieldIndicator.js
  src/components/PasswordField/PasswordField.js
  src/components/PasswordField/PasswordFieldContainer.js
  src/components/PasswordField/index.js
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/services/keystore.js
  src/styles/_base.scss
  src/styles/colors.scss
Due: npm run lint:js, npm run lint:css

Update JRaisedButton component
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.scss
Due: npm run lint:js, npm run lint:css

small fixes
  src/routes/CustomAsset/sagas/customAsset.js
Due: npm run lint:js

Feature/request custom asset (#348)
  flow-typed/functions.js
  flow-typed/types.js
  package-lock.json
  package.json
  src/components/DigitalAssets/DigitalAssetsContainer.js
  src/i18n/en.js
  src/i18n/ja.js
  src/i18n/ko.js
  src/i18n/zh.js
  src/middlewares/forms.js
  src/middlewares/router.js
  src/routes/CustomAsset/components/CustomAsset.js
  src/routes/CustomAsset/components/index.js
  src/routes/CustomAsset/containers/CustomAssetContainer.js
  src/routes/CustomAsset/index.js
  src/routes/CustomAsset/modules/customAsset.js
  src/routes/CustomAsset/routes/Add/CustomAssetAddContainer.js
  src/routes/CustomAsset/routes/Add/index.js
  src/routes/CustomAsset/routes/Edit/index.js
  src/routes/CustomAsset/sagas/customAsset.js
  src/routes/CustomAsset/sagas/index.js
  src/routes/CustomAsset/styles/customAsset.scss
  src/routes/index.js
  src/services/web3.js
  src/store/reducers.js
  src/store/sagas.js
  src/store/stateSelectors.js
Due: npm run lint:js, npm run lint:css

Update JInput Component
  src/components/base/JInput/JInput.js
  stories/components/base/JInput.stories.js
Due: npm run lint:js

Update wallet steps components
  src/components/WalletDataStep/WalletDataStep.js
  src/components/WalletDataStep/walletDataStep.scss
  src/components/WalletNameStep/WalletNameStep.js
  src/components/WalletNameStep/walletNameStep.scss
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/WalletStep/WalletStep.js
  src/components/WalletStep/index.js
  src/components/WalletStep/walletStep.scss
  src/components/index.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Remove background from WalletHeader
  src/components/WalletHeader/walletHeader.scss
Due: npm run lint:css

Update walletsCreate sagas
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
Due: npm run lint:js

Update WalletFace component
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/walletFace.scss
Due: npm run lint:js, npm run lint:css

Update WalletsLayout
  src/layouts/WalletsLayout/WalletsLayout.js
  src/layouts/WalletsLayout/WalletsLayoutContainer.js
  src/layouts/WalletsLayout/index.js
  src/layouts/WalletsLayout/walletsLayout.scss
  src/routes/Wallets/components/WalletsIndexView.js
  src/routes/Wallets/modules/wallets.js
Due: npm run lint:js, npm run lint:css

Update WalletCard component
  src/components/WalletCard/WalletCard.js
Due: npm run lint:js

Update walletsImport sagas
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
Due: npm run lint:js

Update create & import views (#365)
  src/components/WalletCard/WalletCard.js
  src/components/WalletDataStep/WalletDataStep.js
  src/components/WalletDataStep/walletDataStep.scss
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/walletFace.scss
  src/components/WalletHeader/walletHeader.scss
  src/components/WalletNameStep/WalletNameStep.js
  src/components/WalletNameStep/walletNameStep.scss
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/WalletStep/WalletStep.js
  src/components/WalletStep/index.js
  src/components/WalletStep/walletStep.scss
  src/components/base/JInput/JInput.js
  src/components/index.js
  src/layouts/WalletsLayout/WalletsLayout.js
  src/layouts/WalletsLayout/WalletsLayoutContainer.js
  src/layouts/WalletsLayout/index.js
  src/layouts/WalletsLayout/walletsLayout.scss
  src/routes/Wallets/components/WalletsIndexView.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/styles/core.scss
  stories/components/base/JInput.stories.js
Due: npm run lint:js, npm run lint:css

turn back digital assets, code clean
  src/layouts/DigitalAssets/DigitalAssetsLayout.js
  src/layouts/DigitalAssets/digitalAssetsLayout.scss
  src/layouts/DigitalAssets/index.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Balance/DigitalAssetsBalanceViewContainer.js
  src/routes/DigitalAssets/routes/Balance/index.js
  src/routes/DigitalAssets/routes/Custom/DigitalAssetsCustomViewContainer.js
  src/routes/DigitalAssets/routes/Custom/index.js
  src/routes/DigitalAssets/routes/Popular/DigitalAssetsPopularViewContainer.js
  src/routes/DigitalAssets/routes/Popular/index.js
  src/routes/index.js
Due: npm run lint:js, npm run lint:css

JWWEB-167 Update DigitalAsset card component
  package-lock.json
  src/components/AssetBalance/AssetBalance.js
  src/components/DigitalAssets/Asset/Asset.js
  src/components/DigitalAssets/Asset/asset.scss
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
  src/styles/colors.scss
  stories/components/Asset.stories.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

Resolve mistakes
  src/components/AssetBalance/AssetBalance.js
  src/components/AssetBalance/assetBalance.scss
  src/components/DigitalAssets/Asset/Asset.js
  src/components/DigitalAssets/Asset/asset.scss
  src/components/base/JText/jText.scss
  stories/components/Asset.stories.js
Due: npm run lint:js, npm run lint:css

Add sub componet AssetsCardBody, change switch logic
  src/components/AssetBalance/AssetBalance.js
  src/components/DigitalAssets/Asset/Asset.js
  src/components/DigitalAssets/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssets/Asset/AssetCardBody/index.js
  stories/components/Asset.stories.js
Due: npm run lint:js

JWWEB-167 Update DigitalAsset card component (#363)
  package-lock.json
  src/components/AssetBalance/AssetBalance.js
  src/components/AssetBalance/assetBalance.scss
  src/components/DigitalAssets/Asset/Asset.js
  src/components/DigitalAssets/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssets/Asset/AssetCardBody/index.js
  src/components/DigitalAssets/Asset/asset.scss
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
  src/styles/colors.scss
  stories/components/Asset.stories.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

Add auto focus support for JInput
  src/components/PasswordField/PasswordField.js
  src/components/WalletDataStep/WalletDataStep.js
  src/components/WalletNameStep/WalletNameStep.js
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/base/JInput/JInput.js
Due: npm run lint:js

Update WalletsRenameView
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
Due: npm run lint:js

Update walletsDelete sagas
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
Due: npm run lint:js

Update JInput (add resize: none for textarea)
  src/components/base/JInput/jInput.scss
Due: npm run lint:css

Update password fields (disable when isLoading)
  src/components/PasswordField/PasswordField.js
  src/components/WalletPasswordStep/WalletPasswordStep.js
Due: npm run lint:js

Update WalletsBackupView
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
Due: npm run lint:js

Update keystore service (trim mnemonic)
  src/services/keystore.js
Due: npm run lint:js

Update WalletsImportView (title on data step)
  src/routes/Wallets/routes/Import/WalletsImportView.js
Due: npm run lint:js

Update JThumbnail
  src/components/base/JThumbnail/jThumbnail.scss
Due: npm run lint:css

Update WalletsDeleteView
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
Due: npm run lint:js

Update walletsBackup sagas
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
Due: npm run lint:js

Update JRaisedButton (minor code formatting fix)
  src/components/base/JRaisedButton/JRaisedButton.js
Due: npm run lint:js

Update walletsRename sagas
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
Due: npm run lint:js
