Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

Add jcash assets
  src/components/CurrencyItem/currencyItem.scss
  src/public/img/currencies/bg/jkrw.png
  src/public/img/tokens/jkrw.svg
  src/routes/JWallet/sagas/currencies.js
  src/styles/images.scss
  src/utils/tokens/main.js
Due: npm run lint:js, npm run lint:css

Fix replacing of jcash assets
  src/routes/JWallet/sagas/currencies.js
Due: npm run lint:js

Update .lintstagedrc
  .lintstagedrc
  package-lock.json
Due: none

Added cross-env for compile in windows
  package-lock.json
  package.json
Due: none

JWWEB-52 Update logo
  src/public/assets/logo/logo.svg
  src/styles/images.scss
Due: npm run lint:css

Fix version cross-env
  package.json
Due: none

JWWEB-51 Update set of icons #2
  src/styles/icons.scss
  stories/components/base/JIcon.stories.js
Due: npm run lint:css

update dependences
  package-lock.json
  package.json
Due: none

The design file is deleted
  data/jwallet-web-desktop.xd
Due: none

JWWEB-51 Update set of icons #4 correct icons setting and padding-cross
  src/components/base/JIcon/jIcon.scss
  stories/components/base/JIcon.stories.js
Due: npm run lint:css

JWWEB-51 Update set of icons #5 rename some icons, add padding-lock-icon
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/padding-lock-gray.svg
  src/public/assets/icons/new-pack/medium/padding-lock-white.svg
  src/public/assets/icons/new-pack/medium/unchecked-gray.svg
  src/styles/icons.scss
  stories/components/base/JIcon.stories.js
Due: npm run lint:css

JWWEB-50 Update RoundIconButton component
  src/components/RoundIconButton/RoundIconButton.js
  src/components/RoundIconButton/roundIconButton.scss
  stories/__new__/RoundIconButton.stories.js
  stories/components/base/index.js
Due: npm run lint:js, npm run lint:css

JWWEB-50 Update RoundIconButton component #2
  src/components/RoundIconButton/roundIconButton.scss
  stories/__new__/RoundIconButton.stories.js
Due: npm run lint:css

fix flowtype issues
  flow-typed/npm/recompose_v0.x.x.js
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/DigitalAssets/Asset/Asset.js
  src/components/DigitalAssets/DigitalAssets.js
  src/components/Expandable/Expandable.js
  src/components/ModalHeader/ModalHeaderContainer.js
  src/components/base/JCard/JCard.js
  src/components/base/JCard/JCardContainer.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/JFlatButtonContainer.js
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/JIconContainer.js
  src/components/base/JInput/JInputContainer.js
  src/components/base/JLogo/JLogo.js
  src/components/base/JRaisedButton/JRaisedButtonContainer.js
  src/components/base/JSearch/JSearchContainer.js
  src/components/base/JSelect/JSelect.js
  src/components/base/JText/JTextContainer.js
  src/components/base/JThumbnail/JThumbnail.js
  src/components/base/JThumbnail/JThumbnailContainer.js
Due: npm run lint:js

Corrected size of props
  src/components/base/JIcon/JIcon.js
Due: npm run lint:js

fix storybook imports, use new components
  stories/__new__/MnemonicAddress.stories.js
  stories/__new__/NewWalletButton.stories.js
  stories/index.js
Due: none

update package-lock.json
  package-lock.json
Due: none

add fp/no-class to eslint config
  .eslintrc
Due: none

JCard pure component
  src/components/base/JCard/JCard.js
  src/components/base/JCard/JCardContainer.js
  src/components/base/JCard/index.js
Due: npm run lint:js

JFlat button pure component
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/JFlatButtonContainer.js
  src/components/base/JFlatButton/index.js
Due: npm run lint:js

JIcon, make component pure
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/JIconContainer.js
  src/components/base/JIcon/index.js
Due: npm run lint:js

make component pure
  src/components/base/JInput/JInput.js
  src/components/base/JInput/JInputContainer.js
  src/components/base/JInput/index.js
Due: npm run lint:js

make component pure
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/JRaisedButtonContainer.js
  src/components/base/JRaisedButton/index.js
Due: npm run lint:js

make JText component pure
  src/components/base/JText/JText.js
  src/components/base/JText/JTextContainer.js
  src/components/base/JText/index.js
Due: npm run lint:js

make JThumbnail component pure
  src/components/base/JThumbnail/JThumbnail.js
  src/components/base/JThumbnail/JThumbnailContainer.js
  src/components/base/JThumbnail/index.js
Due: npm run lint:js

make ModalHeader component pure
  src/components/ModalHeader/ModalHeader.js
  src/components/ModalHeader/ModalHeaderContainer.js
  src/components/ModalHeader/index.js
Due: npm run lint:js

fix types for handleTargetValue function
  src/utils/eventHandlers/handleTargetValue.js
Due: npm run lint:js

JWWEB-50 Update RoundIconButton component
  src/components/RoundIconButton/RoundIconButton.js
  src/components/RoundIconButton/roundIconButton.scss
  stories/components/base/RoundIconButton.stories.js
  stories/components/base/index.js
Due: npm run lint:js, npm run lint:css

update for button background and remove an extra empty string
  src/components/RoundIconButton/RoundIconButton.js
  src/components/RoundIconButton/roundIconButton.scss
  stories/components/base/RoundIconButton.stories.js
Due: npm run lint:js, npm run lint:css

add @flow
  src/config.js
Due: npm run lint:js

flow type improovements
  src/components/ModalHeader/ModalHeader.js
  src/components/PasswordField/PasswordField.js
  src/components/base/JCard/JCard.js
  src/components/base/JInput/JInput.js
Due: npm run lint:js

try to fix flow problems
  src/utils/i18n/getCurrentLanguageCode.js
Due: npm run lint:js

flowtype getCurrentLanguageCode
  src/i18n/index.js
  src/utils/i18n/getCurrentLanguageCode.js
Due: npm run lint:js

small fix
  src/components/base/JInput/JInput.js
Due: npm run lint:js

remove yarn.lock
  yarn.lock
Due: none

fix console errors
  src/components/MenuPanel/Select/MenuSelect.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JSelect/Item/Item.js
  src/components/base/JSelect/JSelect.js
Due: npm run lint:js

remove fp/no-class during disable
  src/utils/errors/InvalidFieldError.js
Due: npm run lint:js

jinput styles, fix stories
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/styles/_base.scss
  src/styles/colors.scss
  src/styles/core.scss
  stories/__new__/JInput.stories.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

Path conditions:
  npm run lint:js: any of: src/**/*.js
  npm run lint:css: any of: src/**/*.scss
