Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

strength bar
  flow-typed/types.js
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/components/base/JStrengthBar/JStrengthBar.js
  src/components/base/JStrengthBar/index.js
  src/components/base/JStrengthBar/jStrenigthBar.scss
  src/styles/_base.scss
  src/styles/core.scss
  stories/__new__/JInput.stories.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

multiline support
  src/components/base/JInput/JInput.js
  stories/__new__/JInput.stories.js
Due: npm run lint:js

add gray input
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/styles/_base.scss
  stories/__new__/JInput.stories.js
Due: npm run lint:js, npm run lint:css

Update in accordance with the requirements of reviewers
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.scss
  src/components/base/JLoader/jLoader.scss
  stories/components/base/JFlatButton.stories.js
Due: npm run lint:js, npm run lint:css

JWWEB-49 Update JFlatButton
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.scss
  src/components/base/JLoader/JLoader.js
  stories/components/base/JFlatButton.stories.js
  stories/components/base/index.js
Due: npm run lint:js, npm run lint:css

clean up
  src/components/base/JInput/JInput.js
Due: npm run lint:js

JWWEB-47 Update JRaisedButton component
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.scss
  src/styles/colors.scss
  stories/components/base/JRaisedButton.stories.js
  stories/components/base/index.js
Due: npm run lint:js, npm run lint:css

Update in accordance with the requirements of reviewers
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/JRaisedButtonContainer.js
  src/components/base/JRaisedButton/jRaisedButton.scss
  stories/components/base/JRaisedButton.stories.js
  stories/index.js
Due: npm run lint:js, npm run lint:css

JWWEB-47 Update JRaisedButton component (#327)
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/JRaisedButtonContainer.js
  src/components/base/JRaisedButton/jRaisedButton.scss
  src/styles/colors.scss
  stories/components/base/JRaisedButton.stories.js
  stories/components/base/index.js
  stories/index.js
Due: npm run lint:js, npm run lint:css

flowtype settings
  .flowconfig
  flow-typed/style.js
Due: none

change null to undefined
  src/components/base/JFlatButton/JFlatButton.js
Due: npm run lint:js

remove emoji
  .flowconfig
Due: none

add prefer-stateless-function to eslintrc
  .eslintrc
Due: none

add default parameter isLink to JFlatButton
  src/components/base/JFlatButton/JFlatButton.js
Due: npm run lint:js

fix line-height
  flow-typed/types.js
  package-lock.json
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/components/base/JStrengthBar/JStrengthBar.js
  src/components/base/JStrengthBar/jStrenigthBar.scss
  src/styles/_base.scss
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

fix password, remove tick, check
  src/components/PasswordField/Indicator/passwordFieldIndicator.scss
  src/components/PasswordField/PasswordFieldContainer.js
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/components/base/JStrengthBar/JStrengthBar.js
  src/components/base/JStrengthBar/index.js
  src/components/base/JStrengthBar/jStrenigthBar.scss
  src/styles/_base.scss
  src/styles/core.scss
  stories/components/PasswordField.stories.js
  stories/components/base/JInput.stories.js
  stories/components/base/index.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

fix password green status
  src/components/PasswordField/PasswordFieldContainer.js
Due: npm run lint:js

update flowtype libs
  flow-typed/helpers.js
  flow-typed/npm/classnames_v2.x.x.js
  flow-typed/npm/jest_v22.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/react-test-renderer_v16.x.x.js
  flow-typed/npm/react-toastify_v3.2.x.js
  flow-typed/npm/recompose_v0.x.x.js
  flow-typed/npm/redux-saga_v0.16.x.js
  flow-typed/npm/stylelint_v8.4.0.js
  flow-typed/npm/stylelint_v8.4.0_postcss.js
Due: none

add stories to ignore .flowconfig, because they are not covered by flow
  .flowconfig
Due: none

remove postcheckout and flow check on commit, package updated
  package-lock.json
  package.json
Due: none

Feature/small flowtype updates (#336)
  .flowconfig
  flow-typed/helpers.js
  flow-typed/npm/classnames_v2.x.x.js
  flow-typed/npm/jest_v22.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/npm/react-test-renderer_v16.x.x.js
  flow-typed/npm/react-toastify_v3.2.x.js
  flow-typed/npm/recompose_v0.x.x.js
  flow-typed/npm/redux-saga_v0.16.x.js
  flow-typed/npm/stylelint_v8.4.0.js
  flow-typed/npm/stylelint_v8.4.0_postcss.js
  package-lock.json
  package.json
Due: none

fix comments
  src/components/base/JInput/JInput.js
Due: npm run lint:js

change stories path, temporary add *.old.js to flowignore
  .flowconfig
Due: none

update ramda typedefs, fix eslint errors
  flow-typed/npm/ramda_v0.x.x.js
Due: none

remove jest typedefs
  flow-typed/npm/jest_v22.x.x.js
Due: none

update ramda
  flow-typed/npm/ramda_v0.x.x.js
Due: none

JRaisedButton, default props, pure component
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/JRaisedButtonContainer.js
Due: npm run lint:js

Update wallets management; init worker for wallets
  package-lock.json
Due: none

Rename watch -> run
  src/store/configureStore.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update JRaisedButton
  src/components/WalletNameStep/WalletNameStep.js
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/index.js
Due: npm run lint:js

Update prod config for webpack
  config/webpack.config.dev.js
  config/webpack.config.prod.js
Due: none

Feature/small updates (#338)
  .flowconfig
  flow-typed/npm/jest_v22.x.x.js
  flow-typed/npm/ramda_v0.x.x.js
Due: none

Fixed bad merge
  src/components/base/JRaisedButton/JRaisedButton.js
Due: npm run lint:js

fIxed index js after bad merge/rebase
  src/components/base/JRaisedButton/index.js
Due: npm run lint:js

JRaisedButton small fixes (#339)
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/JRaisedButtonContainer.js
  src/components/base/JRaisedButton/index.js
Due: npm run lint:js

Moving components to the root components
  src/components/AssetsStep/AssetsStep.js
  src/components/AssetsStep/index.js
  src/components/NameStep/NameStep.js
  src/components/NameStep/index.js
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/index.js
  src/components/NewWalletButtons/newWalletButtons.scss
  src/components/WalletActions/WalletActions.js
  src/components/WalletActions/index.js
  src/components/WalletActions/walletActions.scss
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/index.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/index.js
  src/components/WalletFace/walletFace.scss
  src/components/WalletPassword/WalletPassword.js
  src/components/WalletPassword/index.js
  src/components/WalletPassword/walletPassword.scss
Due: npm run lint:js, npm run lint:css

JWWEB-45 update WalletFace component
  src/routes/Wallets/components/NewWalletButtons.js
  src/routes/Wallets/components/WalletCard.js
  src/routes/Wallets/components/WalletFace.js
  src/routes/Wallets/styles/walletActions.scss
  src/routes/Wallets/styles/walletFace.scss
Due: npm run lint:js, npm run lint:css
