Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

Update walletsDelete module
  src/routes/Wallets/routes/Delete/modules/removeWallet.js
  src/routes/Wallets/routes/Delete/modules/walletsDelete.js
Due: npm run lint:js

Rename wallets remove->delete
  src/routes/Wallets/routes/Delete/components/WalletsRemoveView.js
  src/routes/Wallets/routes/Delete/containers/WalletsRemoveViewContainer.js
  src/routes/Wallets/routes/Delete/index.js
  src/routes/Wallets/routes/Delete/modules/removeWallet.js
  src/routes/Wallets/routes/Delete/sagas/index.js
  src/routes/Wallets/routes/Delete/sagas/removeWallet.js
  src/routes/Wallets/routes/Delete/styles/walletsRemoveView.scss
Due: npm run lint:js, npm run lint:css

Update walletsDelete sagas
  src/routes/Wallets/routes/Delete/sagas/index.js
  src/routes/Wallets/routes/Delete/sagas/removeWallet.js
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
Due: npm run lint:js

Update WalletsDelete view
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/routes/Wallets/routes/Delete/components/WalletsRemoveView.js
  src/routes/Wallets/routes/Delete/containers/WalletsRemoveViewContainer.js
  src/routes/Wallets/routes/Delete/index.js
  src/routes/Wallets/routes/Delete/styles/walletsDeleteView.scss
Due: npm run lint:js, npm run lint:css

Add walletsDeleteSagas to wallets sagas
  src/routes/Wallets/sagas/index.js
Due: npm run lint:js

Update wallets styles base file
  src/routes/Wallets/styles/wallets.scss
Due: npm run lint:css

Update WalletCard component (add delete handler)
  src/components/WalletActions/WalletActions.js
  src/components/WalletCard/WalletCard.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
Due: npm run lint:js

Update WalletsIndex (enable wallets/delete)
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/index.js
Due: npm run lint:js

Update wallets worker (add delete wallet support)
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update router middleware (add redirects for error/success delete)
  src/middlewares/router.js
Due: npm run lint:js

Update keystore (expose removeWallet method)
  src/services/keystore.js
Due: npm run lint:js

Update JThumbnail
  src/components/base/JThumbnail/JThumbnail.js
Due: npm run lint:js

Update WalletsDeleteView
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/routes/Wallets/routes/Delete/styles/walletsDeleteView.scss
Due: npm run lint:js, npm run lint:css

enable type password from WalletPasswordStep
  src/components/WalletPasswordStep/WalletPasswordStep.js
Due: npm run lint:js

Update delete wallet page (#345)
  flow-typed/types.js
  src/components/WalletActions/WalletActions.js
  src/components/WalletCard/WalletCard.js
  src/components/base/JThumbnail/JThumbnail.js
  src/middlewares/router.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/index.js
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/routes/Wallets/routes/Delete/index.js
  src/routes/Wallets/routes/Delete/modules/walletsDelete.js
  src/routes/Wallets/routes/Delete/sagas/index.js
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
  src/routes/Wallets/routes/Delete/styles/walletsDeleteView.scss
  src/routes/Wallets/routes/Remove/components/WalletsRemoveView.js
  src/routes/Wallets/routes/Remove/containers/WalletsRemoveViewContainer.js
  src/routes/Wallets/routes/Remove/index.js
  src/routes/Wallets/routes/Remove/modules/removeWallet.js
  src/routes/Wallets/routes/Remove/sagas/index.js
  src/routes/Wallets/routes/Remove/sagas/removeWallet.js
  src/routes/Wallets/sagas/index.js
  src/routes/Wallets/styles/wallets.scss
  src/services/keystore.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js, npm run lint:css

Remove unused WalletChangePassword route
  flow-typed/types.js
  src/middlewares/analytics.js
  src/middlewares/forms.js
  src/middlewares/router.js
  src/routes/Wallets/routes/ChangePassword/components/WalletsChangePasswordView.js
  src/routes/Wallets/routes/ChangePassword/containers/WalletsChangePasswordViewContainer.js
  src/routes/Wallets/routes/ChangePassword/index.js
  src/routes/Wallets/routes/ChangePassword/modules/changeWalletPassword.js
  src/routes/Wallets/routes/ChangePassword/sagas/changeWalletPassword.js
  src/routes/Wallets/routes/ChangePassword/sagas/index.js
  src/routes/Wallets/routes/ChangePassword/styles/walletsChangePasswordView.scss
  src/services/gtm.js
  src/store/stateSelectors.js
Due: npm run lint:js, npm run lint:css

Remove unused WalletChangePassword route (#347)
  flow-typed/types.js
  src/middlewares/analytics.js
  src/middlewares/forms.js
  src/middlewares/router.js
  src/routes/Wallets/routes/ChangePassword/components/WalletsChangePasswordView.js
  src/routes/Wallets/routes/ChangePassword/containers/WalletsChangePasswordViewContainer.js
  src/routes/Wallets/routes/ChangePassword/index.js
  src/routes/Wallets/routes/ChangePassword/modules/changeWalletPassword.js
  src/routes/Wallets/routes/ChangePassword/sagas/changeWalletPassword.js
  src/routes/Wallets/routes/ChangePassword/sagas/index.js
  src/routes/Wallets/routes/ChangePassword/styles/walletsChangePasswordView.scss
  src/services/gtm.js
  src/store/stateSelectors.js
Due: npm run lint:js, npm run lint:css

Update WalletPasswordStep component (hint & confirm fields optional)
  src/components/WalletPasswordStep/WalletPasswordStep.js
Due: npm run lint:js

Update keystore dependency (add0x support)
  package-lock.json
  package.json
Due: none

Update flow types for WalletsBackupState
  flow-typed/types.js
Due: none

Update WalletCard component
  src/components/WalletCard/WalletCard.js
Due: npm run lint:js

Update walletsBackup sagas
  src/routes/Wallets/routes/Backup/sagas/backupWallet.js
  src/routes/Wallets/routes/Backup/sagas/index.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/Wallets/sagas/index.js
Due: npm run lint:js

Update walletsBackup module
  src/routes/Wallets/routes/Backup/modules/backupWallet.js
  src/routes/Wallets/routes/Backup/modules/walletsBackup.js
Due: npm run lint:js

Update store/reducers
  src/store/reducers.js
Due: npm run lint:js

Update stateSelectors
  src/store/stateSelectors.js
Due: npm run lint:js

Update keystore service (backup support)
  src/services/keystore.js
Due: npm run lint:js

Update wallets worker (backup support)
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update WalletsBackupView
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/routes/Wallets/routes/Backup/components/FormStep.js
  src/routes/Wallets/routes/Backup/components/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/containers/WalletsBackupViewContainer.js
  src/routes/Wallets/routes/Backup/index.js
Due: npm run lint:js

Update WalletsIndexView (enable backup action)
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/index.js
Due: npm run lint:js

Update WalletActions
  src/components/WalletActions/WalletActions.js
Due: npm run lint:js

Update router middleware
  src/middlewares/router.js
Due: npm run lint:js

Update WalletsBackupView (add downloading & copying actions)
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/routes/Wallets/routes/Backup/modules/walletsBackup.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/services/clipboard.js
  src/services/fileSaver.js
Due: npm run lint:js

Fix WalletPasswordStep component
  src/components/WalletPasswordStep/WalletPasswordStep.js
Due: npm run lint:js

Update lockfile
  package-lock.json
Due: none

Move keystore dependency to org scope on npm
  package-lock.json
  package.json
  src/components/PasswordField/PasswordFieldContainer.js
  src/services/keystore.js
  src/services/validate.js
  src/utils/keystore/testKeystorePassword.js
  src/workers/wallets/worker.js
Due: npm run lint:js

Update package.json (jsapi ver)
  package-lock.json
  package.json
Due: none

Update Dockerfile (remove lint-staged dep before compile:prod)
  Dockerfile
Due: none

del single line
  flow-typed/types.js
Due: none

remove unused line from i18n file
  src/i18n/en.js
Due: npm run lint:js

turn back custom assets
  src/routes/CustomAsset/routes/Add/index.js
  src/routes/CustomAsset/sagas/index.js
  src/routes/index.js
  src/store/sagas.js
Due: npm run lint:js
