Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

Update backup wallet page (#350)
  Dockerfile
  flow-typed/types.js
  package-lock.json
  package.json
  src/components/PasswordField/PasswordFieldContainer.js
  src/components/WalletActions/WalletActions.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/middlewares/router.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/index.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/routes/Wallets/routes/Backup/components/FormStep.js
  src/routes/Wallets/routes/Backup/components/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/containers/WalletsBackupViewContainer.js
  src/routes/Wallets/routes/Backup/index.js
  src/routes/Wallets/routes/Backup/modules/backupWallet.js
  src/routes/Wallets/routes/Backup/modules/walletsBackup.js
  src/routes/Wallets/routes/Backup/sagas/backupWallet.js
  src/routes/Wallets/routes/Backup/sagas/index.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/Wallets/sagas/index.js
  src/services/clipboard.js
  src/services/fileSaver.js
  src/services/keystore.js
  src/services/validate.js
  src/store/reducers.js
  src/store/stateSelectors.js
  src/utils/keystore/testKeystorePassword.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

code clean
  src/routes/CustomAsset/components/CustomAsset.js
  src/routes/CustomAsset/components/index.js
  src/routes/CustomAsset/containers/index.js
  src/routes/CustomAsset/index.js
  src/routes/CustomAsset/routes/Add/CustomAssetAddContainer.js
Due: npm run lint:js

Add white medium list icon
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/list-white.svg
  src/styles/icons.scss
Due: npm run lint:css

Update JIcon component (add sky color)
  src/components/base/JIcon/JIcon.js
Due: npm run lint:js

Fix scss colors as per zepplin styleguide
  src/styles/colors.scss
Due: npm run lint:css

Update OverlayActions component
  src/components/OverlayActions/OverlayActions.js
  src/components/OverlayActions/OverlayActionsContainer.js
  src/components/OverlayActions/index.js
  src/components/OverlayActions/overlayActions.scss
Due: npm run lint:js, npm run lint:css

Rename MnemonicPhrase -> CopyableField component & update
  src/components/CopyableField/CopyableField.js
  src/components/CopyableField/copyableField.scss
  src/components/CopyableField/index.js
  src/components/MnemonicPhrase/MnemonicPhrase.js
  src/components/MnemonicPhrase/index.js
  src/components/MnemonicPhrase/mnemonicPhrase.scss
  src/components/index.js
  src/styles/_base.scss
  src/styles/core.scss
  stories/components/CopyableField.stories.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

Integrate new CopyableField component on WalletsBackupView
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/WalletsBackupViewContainer.js
Due: npm run lint:js

Remove component state from WalletsBackupView
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
Due: npm run lint:js

Update WalletsBackupView
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
Due: npm run lint:js

Update CopyableField component (#353)
  src/components/CopyableField/CopyableField.js
  src/components/CopyableField/copyableField.scss
  src/components/CopyableField/index.js
  src/components/MnemonicPhrase/MnemonicPhrase.js
  src/components/MnemonicPhrase/index.js
  src/components/MnemonicPhrase/mnemonicPhrase.scss
  src/components/OverlayActions/OverlayActions.js
  src/components/OverlayActions/OverlayActionsContainer.js
  src/components/OverlayActions/index.js
  src/components/OverlayActions/overlayActions.scss
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/base/JIcon/JIcon.js
  src/components/base/JIcon/jIcon.scss
  src/components/index.js
  src/public/assets/icons/new-pack/medium/list-white.svg
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/styles/_base.scss
  src/styles/colors.scss
  src/styles/core.scss
  src/styles/icons.scss
  stories/components/CopyableField.stories.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

Update config (mnemonicAddressesCount param)
  src/config.js
Due: npm run lint:js

Update WalletsAddressesView
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Addresses/components/MnemonicAddressesList.js
  src/routes/Wallets/routes/Addresses/components/WalletsMnemonicAddressesView.js
  src/routes/Wallets/routes/Addresses/containers/WalletsMnemonicAddressesViewContainer.js
Due: npm run lint:js

Update flow types for walletsAddresses
  flow-typed/types.js
Due: none

Update walletsAddresses module & sagas
  src/routes/Wallets/routes/Addresses/index.js
  src/routes/Wallets/routes/Addresses/modules/mnemonicAddresses.js
  src/routes/Wallets/routes/Addresses/modules/walletsAddresses.js
  src/routes/Wallets/routes/Addresses/sagas/index.js
  src/routes/Wallets/routes/Addresses/sagas/mnemonicAddresses.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
Due: npm run lint:js

Update stateSelectors
  src/store/stateSelectors.js
Due: npm run lint:js

Enable wallets/addresses route
  src/routes/Wallets/index.js
Due: npm run lint:js

Include walletsAddresses reducer
  src/store/reducers.js
Due: npm run lint:js

Update WalletCard component
  src/components/WalletCard/WalletCard.js
  src/routes/Wallets/WalletsIndexView.js
Due: npm run lint:js

Update WalletsAddressesView
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
Due: npm run lint:js

Update router middleware
  src/middlewares/router.js
Due: npm run lint:js

Update router middleware (remove dead code)
  src/middlewares/router.js
Due: npm run lint:js

Add utils/wallets
  src/utils/index.js
  src/utils/wallets/checkMnemonicType.js
  src/utils/wallets/getWallet.js
  src/utils/wallets/index.js
Due: npm run lint:js

Update keystore service (add getAddress/getAddresses methods)
  src/services/keystore.js
Due: npm run lint:js

Update wallets worker
  src/workers/wallets/worker.js
Due: npm run lint:js

Update wallets worker wrapper for addresses
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update wallets sagas (include walletsAddresses)
  src/routes/Wallets/sagas/index.js
Due: npm run lint:js

Update keystore service (add comment about deriving of addresses)
  src/services/keystore.js
Due: npm run lint:js

Update mnemonic addresses page (#355)
  flow-typed/types.js
  src/components/WalletCard/WalletCard.js
  src/config.js
  src/middlewares/router.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/index.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Addresses/components/MnemonicAddressesList.js
  src/routes/Wallets/routes/Addresses/components/WalletsMnemonicAddressesView.js
  src/routes/Wallets/routes/Addresses/containers/WalletsMnemonicAddressesViewContainer.js
  src/routes/Wallets/routes/Addresses/index.js
  src/routes/Wallets/routes/Addresses/modules/mnemonicAddresses.js
  src/routes/Wallets/routes/Addresses/modules/walletsAddresses.js
  src/routes/Wallets/routes/Addresses/sagas/index.js
  src/routes/Wallets/routes/Addresses/sagas/mnemonicAddresses.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/Wallets/sagas/index.js
  src/services/keystore.js
  src/store/reducers.js
  src/store/stateSelectors.js
  src/utils/index.js
  src/utils/wallets/checkMnemonicType.js
  src/utils/wallets/getWallet.js
  src/utils/wallets/index.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update package-lock.json
  package-lock.json
Due: none

added getContractCode, checkSignatureInContract, checkContractIsERC20
  package.json
  src/services/web3.js
Due: npm run lint:js

Add no-multiple-empty-lines eslint rule
  .eslintrc
Due: none

Remove unused type
  flow-typed/types.js
Due: none

check contract
  src/routes/CustomAsset/sagas/customAsset.js
  src/services/web3.js
Due: npm run lint:js

check contract
  src/routes/CustomAsset/sagas/customAsset.js
Due: npm run lint:js

pkg-lock
  package-lock.json
Due: none

github comments
  src/routes/CustomAsset/modules/customAsset.js
  src/routes/CustomAsset/sagas/customAsset.js
Due: npm run lint:js

code clean
  src/routes/CustomAsset/modules/customAsset.js
Due: npm run lint:js

rename setIsAssetValid
  src/routes/CustomAsset/modules/customAsset.js
  src/routes/CustomAsset/sagas/customAsset.js
Due: npm run lint:js
