Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

Feature/update wallet face (#337)
  src/components/NameStep/NameStep.js
  src/components/NameStep/index.js
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/index.js
  src/components/NewWalletButtons/newWalletButtons.scss
  src/components/WalletActions/WalletActions.js
  src/components/WalletActions/index.js
  src/components/WalletActions/walletActions.scss
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/index.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/index.js
  src/components/WalletFace/walletFace.scss
  src/components/WalletLoading/WalletLoading.js
  src/components/WalletLoading/WalletLoading.scss
  src/components/WalletLoading/index.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.scss
  src/components/base/JIcon/JIcon.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/components/WalletActions.js
  src/routes/Wallets/components/WalletFace.js
  src/routes/Wallets/components/WalletPassword.js
  src/routes/Wallets/routes/Addresses/components/MnemonicAddressesList.js
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
  src/routes/Wallets/routes/Start/WalletsStartView.js
  src/routes/Wallets/routes/Start/components/WalletsStartView.js
  src/routes/Wallets/styles/walletFace.scss
  src/routes/Wallets/styles/walletPassword.scss
  src/routes/Wallets/styles/wallets.scss
  src/styles/core.scss
  stories/components/WalletCard.stories.js
  stories/components/base/JFlatButton.stories.js
  stories/components/index.js
  stories/index.js
Due: npm run lint:js, npm run lint:css

JWWEB-132 update 404 page
  src/components/base/JText/jText.scss
  src/components/base/JThumbnail/JThumbnail.js
  src/components/base/JThumbnail/jThumbnail.scss
  src/routes/NotFound/components/NotFoundView.js
  src/routes/NotFound/styles/notFoundView.scss
Due: npm run lint:js, npm run lint:css

Update JText component (remove thumbnail-title size)
  src/components/base/JText/jText.scss
Due: npm run lint:css

Update JThumbnail
  src/components/base/JThumbnail/JThumbnail.js
  src/components/base/JThumbnail/jThumbnail.scss
Due: npm run lint:js, npm run lint:css

Update JFlatButton (default props)
  src/components/base/JFlatButton/JFlatButton.js
Due: npm run lint:js

Update NotFoundView
  src/routes/NotFound/components/NotFoundView.js
  src/routes/NotFound/styles/notFoundView.scss
Due: npm run lint:js, npm run lint:css

Update NotFoundView router config
  src/main.js
  src/routes/NotFound/NotFoundView.js
  src/routes/NotFound/NotFoundViewContainer.js
  src/routes/NotFound/index.js
  src/routes/index.js
Due: npm run lint:js

Remove useless const declaration
  src/routes/NotFound/NotFoundView.js
Due: npm run lint:js

JWWEB-132 update 404 page (#354)
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JText/jText.scss
  src/components/base/JThumbnail/JThumbnail.js
  src/components/base/JThumbnail/jThumbnail.scss
  src/main.js
  src/routes/NotFound/NotFoundView.js
  src/routes/NotFound/NotFoundViewContainer.js
  src/routes/NotFound/components/NotFoundView.js
  src/routes/NotFound/index.js
  src/routes/NotFound/styles/notFoundView.scss
  src/routes/index.js
Due: npm run lint:js, npm run lint:css

Remove AssetsStep and WalletPassword components
  src/components/AssetsStep/AssetsStep.js
  src/components/AssetsStep/index.js
  src/components/WalletPassword/WalletPassword.js
  src/components/WalletPassword/index.js
  src/components/WalletPassword/walletPassword.scss
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
Due: npm run lint:js, npm run lint:css

Moving components to the root components
  src/components/AssetsStep/AssetsStep.js
  src/components/AssetsStep/index.js
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/NewWalletButtons.js~HEAD
  src/components/WalletActions/WalletActions.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/WalletFace.js~HEAD
  src/components/WalletFace/walletFace.scss
  src/components/WalletPassword/WalletPassword.js
  src/components/WalletPassword/index.js
  src/components/WalletPassword/walletPassword.scss
  src/routes/Wallets/components/WalletFace.js
Due: npm run lint:js, npm run lint:css

JWWEB-86 Update create wallet
  src/components/ESCButton/ESCButton.js
  src/components/WalletHeader/WalletHeader.js
  src/components/WalletNameStep/WalletNameStep.js
  src/components/WalletNameStep/walletNameStep.scss
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/WalletPasswordStep/walletPasswordStep.scss
  src/routes/Wallets/routes/Create/styles/walletsCreateView.scss
  stories/index.js
Due: npm run lint:js, npm run lint:css

JWWEB-45 update WalletFace component
  src/components/WalletFace/walletFace.scss
  src/routes/Wallets/components/NewWalletButtons.js
  src/routes/Wallets/components/WalletFace.js
Due: npm run lint:js, npm run lint:css

Updating components call path
  src/routes/Wallets/components/WalletsIndexView.js
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

WalletCard add in storybook
  src/components/WalletActions/WalletActions.js
  src/components/WalletFace/WalletFace.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.scss
  stories/components/WalletCard.stories.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

Add min-height, fix conflict and bug
  src/components/ModalHeader/modalHeader.scss
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/NewWalletButtons.js~HEAD
  src/components/WalletActions/WalletActions.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/WalletFace.js~HEAD
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/base/JFlatButton/jFlatButton.scss
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/styles/walletsCreateView.scss
  src/routes/Wallets/routes/Import/WalletsImportView.js
Due: npm run lint:js, npm run lint:css

Fix mistakes and problems
  package-lock.json
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/WalletPasswordStep/walletPasswordStep.scss
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
Due: npm run lint:js, npm run lint:css

Update and fix on comments
  package-lock.json
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/routes/NotFound/NotFoundView.js
  src/routes/Wallets/components/WalletsIndexView.js
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Import/WalletsImportView.js
  stories/components/WalletCard.stories.js
  stories/components/index.js
Due: npm run lint:js

JWWEB-86 Update create wallet (#344)
  package-lock.json
  src/components/ESCButton/ESCButton.js
  src/components/ModalHeader/modalHeader.scss
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletHeader/WalletHeader.js
  src/components/WalletNameStep/WalletNameStep.js
  src/components/WalletNameStep/walletNameStep.scss
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/WalletPasswordStep/walletPasswordStep.scss
  src/components/base/JFlatButton/JFlatButton.js
  src/routes/NotFound/NotFoundView.js
  src/routes/Wallets/components/WalletsIndexView.js
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/styles/walletsCreateView.scss
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/styles/core.scss
  stories/components/WalletCard.stories.js
  stories/index.js
Due: npm run lint:js, npm run lint:css

Update flow types (remove walletsEdit reducer, as it outdated)
  flow-typed/types.js
Due: none

Remove wallets/edit (outdated)
  src/routes/Wallets/routes/Edit/components/FormStep.js
  src/routes/Wallets/routes/Edit/components/WalletsEditView.js
  src/routes/Wallets/routes/Edit/containers/WalletsEditViewContainer.js
  src/routes/Wallets/routes/Edit/index.js
  src/routes/Wallets/routes/Edit/modules/editWallet.js
  src/routes/Wallets/routes/Edit/sagas/editWallet.js
  src/routes/Wallets/routes/Edit/sagas/index.js
  src/routes/Wallets/routes/Edit/styles/walletsEditView.scss
Due: npm run lint:js, npm run lint:css

Update middleware config (disable notification middleware)
  src/middlewares/index.js
Due: npm run lint:js

Update /wallets view (add rename handler for WalletCard)
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
Due: npm run lint:js

Update router middleware
  src/middlewares/router.js
Due: npm run lint:js

Update eslint config (add padded-blocks rule)
  .eslintrc
Due: none

Update WalletCard component (add rename action handler)
  src/components/WalletActions/WalletActions.js
  src/components/WalletCard/WalletCard.js
  src/components/index.js
Due: npm run lint:js

Remove global flow type for worker postMessage method
  flow-typed/functions.js
Due: none

Update wallets saga (add closeView handler)
  src/routes/Wallets/sagas/wallets.js
Due: npm run lint:js

Add /wallets/rename view/module/saga
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
  src/routes/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/routes/Wallets/routes/Rename/index.js
  src/routes/Wallets/routes/Rename/modules/walletsRename.js
  src/routes/Wallets/routes/Rename/sagas/index.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
  src/routes/Wallets/routes/Rename/styles/walletsRenameView.scss
Due: npm run lint:js, npm run lint:css

Update wallets routes config
  src/routes/Wallets/index.js
Due: npm run lint:js

Update walletsStart module (export WalletsStartAction flow type)
  src/routes/Wallets/routes/Start/modules/start.js
Due: npm run lint:js

Update keystore service (add updateWallet method)
  src/services/keystore.js
Due: npm run lint:js

Update stateSelectors (remove walletsEdit state, change order of selectors)
  src/store/stateSelectors.js
Due: npm run lint:js

Update wallets sagas config
  src/routes/Wallets/sagas/index.js
Due: npm run lint:js

Update wallets module (add setWalletsItems action; fix clean action)
  src/routes/Wallets/modules/wallets.js
Due: npm run lint:js

Update RenameWalletView modal title
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
Due: npm run lint:js

Update wallets styles imports
  src/routes/Wallets/styles/wallets.scss
Due: npm run lint:css

Update wallets worker (add rename)
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update rename wallet page (#343)
  .eslintrc
  flow-typed/functions.js
  flow-typed/types.js
  src/components/WalletActions/WalletActions.js
  src/components/WalletCard/WalletCard.js
  src/components/index.js
  src/middlewares/index.js
  src/middlewares/router.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/index.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Edit/components/FormStep.js
  src/routes/Wallets/routes/Edit/components/WalletsEditView.js
  src/routes/Wallets/routes/Edit/containers/WalletsEditViewContainer.js
  src/routes/Wallets/routes/Edit/index.js
  src/routes/Wallets/routes/Edit/modules/editWallet.js
  src/routes/Wallets/routes/Edit/sagas/editWallet.js
  src/routes/Wallets/routes/Edit/sagas/index.js
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
  src/routes/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/routes/Wallets/routes/Rename/index.js
  src/routes/Wallets/routes/Rename/modules/walletsRename.js
  src/routes/Wallets/routes/Rename/sagas/index.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
  src/routes/Wallets/routes/Rename/styles/walletsRenameView.scss
  src/routes/Wallets/routes/Start/modules/start.js
  src/routes/Wallets/sagas/index.js
  src/routes/Wallets/sagas/wallets.js
  src/routes/Wallets/styles/wallets.scss
  src/services/keystore.js
  src/store/stateSelectors.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js, npm run lint:css

Update flow types (remove removeWallet types)
  flow-typed/types.js
Due: none
