Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

Update keystore service (minor fix)
  src/services/keystore.js
Due: npm run lint:js

Cleanup middlewares
  src/middlewares/analytics.js
  src/middlewares/forms.js
  src/middlewares/index.js
  src/middlewares/notification.js
  src/middlewares/router.js
Due: npm run lint:js

Update walletsRename sagas
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
Due: npm run lint:js

Update WalletsIndexView
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
Due: npm run lint:js

Update wallets sagas
  src/routes/Wallets/sagas/wallets.js
Due: npm run lint:js

Update ESCButton
  src/components/ESCButton/ESCButton.js
  src/components/ESCButton/ESCButtonContainer.js
  src/components/ESCButton/index.js
Due: npm run lint:js

Update ModalHeader
  src/components/ModalHeader/ModalHeader.js
Due: npm run lint:js

Update walletsDelete sagas
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
Due: npm run lint:js

Update walletsStart sagas name
  src/routes/Wallets/routes/Start/WalletsStartViewContainer.js
  src/routes/Wallets/routes/Start/components/WalletsStartView.js
  src/routes/Wallets/routes/Start/modules/walletsStart.js
  src/routes/Wallets/routes/Start/sagas/index.js
  src/routes/Wallets/routes/Start/sagas/walletsStart.js
Due: npm run lint:js

Update JLogo (remove hover styles)
  src/components/base/JLogo/jLogo.scss
Due: npm run lint:css

Update JFlatButton (add underscore prop)
  src/components/base/JFlatButton/JFlatButton.js
Due: npm run lint:js

Update walletsAddresses sagas
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
Due: npm run lint:js

Update JText (add decoration prop)
  src/components/base/JText/JText.js
  src/components/base/JText/jText.scss
Due: npm run lint:js, npm run lint:css

Update wallets views (apply ModalHeader updates)
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
  src/routes/Wallets/routes/Rename/WalletsRenameViewContainer.js
Due: npm run lint:js

Refactor import wallet
  flow-typed/types.js
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/routes/Wallets/routes/Import/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Import/modules/walletsImport.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update WalletsDeleteView
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
Due: npm run lint:js

Update WalletsStartView
  src/routes/Wallets/routes/Start/WalletsStartView.js
  src/routes/Wallets/routes/Start/WalletsStartViewContainer.js
  src/routes/Wallets/routes/Start/styles/walletsStartView.scss
Due: npm run lint:js, npm run lint:css

Update walletsBackup sagas
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
Due: npm run lint:js

Add NewWalletButtons to components index
  src/components/index.js
Due: npm run lint:js

Update keystore service (add getDataType function)
  src/services/keystore.js
Due: npm run lint:js

Update WalletsBackupView (disable back button when loading)
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
Due: npm run lint:js

Update wallet views styles
  src/components/WalletFace/walletFace.scss
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/styles/walletsCreateView.scss
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/routes/Wallets/routes/Delete/styles/walletsDeleteView.scss
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/routes/Wallets/routes/Import/styles/walletsImportView.scss
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
  src/routes/Wallets/routes/Rename/styles/walletsRenameView.scss
  src/routes/Wallets/routes/Start/WalletsStartView.js
  src/routes/Wallets/routes/Start/styles/walletsStartView.scss
  src/routes/Wallets/styles/wallets.scss
  src/routes/Wallets/styles/walletsIndexView.scss
  src/routes/Wallets/styles/walletsView.scss
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

rename folder DigitalAssets to DigitalAssetsList
  src/components/DigitalAssets/DigitalAssets.js
  src/components/DigitalAssets/DigitalAssetsContainer.js
  src/components/DigitalAssets/index.js
  src/components/DigitalAssetsList/Asset/Asset.js
  src/components/DigitalAssetsList/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsList/Asset/AssetCardBody/index.js
  src/components/DigitalAssetsList/Asset/asset.scss
  src/components/DigitalAssetsList/Asset/index.js
  src/components/DigitalAssetsList/DigitalAssetsList.js
  src/components/DigitalAssetsList/Empty/Empty.js
  src/components/DigitalAssetsList/Empty/empty.scss
  src/components/DigitalAssetsList/Empty/index.js
  src/components/DigitalAssetsList/digitalAssetsList.scss
  src/components/DigitalAssetsList/index.js
  src/components/index.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Update wallets views styles (#368)
  src/components/WalletFace/walletFace.scss
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Backup/WalletsBackupView.js
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/styles/walletsCreateView.scss
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/routes/Wallets/routes/Delete/styles/walletsDeleteView.scss
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/routes/Wallets/routes/Import/styles/walletsImportView.scss
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
  src/routes/Wallets/routes/Rename/styles/walletsRenameView.scss
  src/routes/Wallets/routes/Start/WalletsStartView.js
  src/routes/Wallets/routes/Start/styles/walletsStartView.scss
  src/routes/Wallets/styles/wallets.scss
  src/routes/Wallets/styles/walletsIndexView.scss
  src/routes/Wallets/styles/walletsView.scss
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

updated digital assets module
  flow-typed/types.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/routes/Balance/DigitalAssetsBalanceViewContainer.js
  src/routes/DigitalAssets/routes/Balance/index.js
  src/routes/DigitalAssets/routes/Custom/DigitalAssetsCustomViewContainer.js
  src/routes/DigitalAssets/routes/Custom/index.js
  src/routes/DigitalAssets/routes/List/AssetsContainer.js
  src/routes/DigitalAssets/routes/List/index.js
  src/routes/DigitalAssets/routes/Popular/DigitalAssetsPopularViewContainer.js
  src/routes/DigitalAssets/routes/Popular/index.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/DigitalAssets/sagas/digitalAssetsSaga.js
  src/routes/DigitalAssets/sagas/index.js
  src/store/sagas.js
  src/store/stateSelectors.js
Due: npm run lint:js

temporary disabled code (flowtype errors)
  src/services/validate.js
Due: npm run lint:js

folder rename
  stories/components/Asset.stories.js
Due: none

fix rpcaddr and decimals
  src/services/web3.js
Due: npm run lint:js

update structures
  flow-typed/types.js
  src/routes/DigitalAssets/modules/digitalAssets.js
Due: npm run lint:js

misc
  src/components/DigitalAssetsList/DigitalAssetsList.js
Due: npm run lint:js

rename DigitalAssetsList -> DigitalAssetsGrid
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/index.js
  src/components/DigitalAssetsGrid/Asset/asset.scss
  src/components/DigitalAssetsGrid/Asset/index.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/Empty/Empty.js
  src/components/DigitalAssetsGrid/Empty/empty.scss
  src/components/DigitalAssetsGrid/Empty/index.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  src/components/DigitalAssetsGrid/index.js
  src/components/DigitalAssetsList/index.js
  src/components/index.js
  src/routes/DigitalAssets/components/DigitalAssetsList.js
  src/routes/DigitalAssets/routes/List/AssetsContainer.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

remove weight from defaultProps
  src/components/AssetBalance/AssetBalance.js
Due: npm run lint:js

Update wallets start view styles
  src/routes/Wallets/styles/walletsView.scss
  src/routes/Wallets/walletsView.scss
  src/styles/core.scss
Due: npm run lint:css

Update PasswordField (indicator styles)
  src/components/PasswordField/Indicator/passwordFieldIndicator.scss
  src/components/PasswordField/PasswordField.js
Due: npm run lint:js, npm run lint:css

layout changes
  flow-typed/types.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  src/layouts/AsideLayout/AsideLayout.js
  src/layouts/AsideLayout/asideLayout.scss
  src/layouts/AsideLayout/index.js
  src/layouts/CoreLayout/CoreLayout.js
  src/layouts/DigitalAssets/DigitalAssetsLayout.js
  src/layouts/index.js
  src/routes/DigitalAssets/digitalAssets.scss
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Grid/digitalAssetsGridView.scss
  src/routes/DigitalAssets/routes/Grid/index.js
  src/routes/DigitalAssets/routes/List/index.js
  src/routes/DigitalAssets/styles/digitalAssets.scss
  src/store/stateSelectors.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

misc
  src/layouts/ActiveAssetsLayout/ActiveAssetsLayout.js
  src/routes/CustomAsset/index.js
Due: npm run lint:js

JWWEB-184 Styling DigitalAssetsGrid
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
Due: npm run lint:js, npm run lint:css

small fix
  flow-typed/types.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
Due: npm run lint:js

Update icons
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/bucket-white.svg
  src/public/assets/icons/new-pack/medium/dots-border-gray.svg
  src/public/assets/icons/new-pack/medium/dots-border-white.svg
  src/public/assets/icons/new-pack/medium/dots-full-gray.svg
  src/public/assets/icons/new-pack/medium/edit-white.svg
  src/styles/icons.scss
  stories/components/base/JIcon.stories.js
Due: npm run lint:css
