Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

Update base buttons (active styles)
  src/components/base/JFlatButton/jFlatButton.scss
  src/components/base/JRaisedButton/jRaisedButton.scss
Due: npm run lint:css

Update WalletCard/Face components
  src/components/NewWalletButtons/newWalletButtons.scss
  src/components/WalletActions/WalletActions.js
  src/components/WalletActions/index.js
  src/components/WalletActions/walletActions.scss
  src/components/WalletCard/WalletCard.js
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/WalletFace/Actions/index.js
  src/components/WalletFace/Actions/walletFaceActions.scss
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/walletFace.scss
  src/components/index.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/walletsView.scss
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Update PasswordField (indicator styles) (#371)
  src/components/PasswordField/Indicator/passwordFieldIndicator.scss
  src/components/PasswordField/PasswordField.js
Due: npm run lint:js, npm run lint:css

JWWEB-184 Styling DigitalAssetsGrid (#372)
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  src/routes/DigitalAssets/routes/Grid/digitalAssetsGridView.scss
Due: npm run lint:js, npm run lint:css

JWWEB-187 Restyling JTabs
  src/components/base/JTabs/JTabs.js
  src/components/base/JTabs/jTabs.scss
Due: npm run lint:js, npm run lint:css

Update WalletCard
  src/components/WalletCard/WalletCard.js
Due: npm run lint:js

Update NewWalletButtons
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/newWalletButtons.scss
Due: npm run lint:js, npm run lint:css

Update WalletFace
  src/components/WalletFace/Actions/WalletFaceActions.js
  src/components/WalletFace/WalletFace.js
Due: npm run lint:js

Update ModalHeader
  src/components/ModalHeader/ModalHeader.js
  src/components/ModalHeader/modalHeader.scss
Due: npm run lint:js, npm run lint:css

Add wallets/getShortenedAddress function
  src/utils/wallets/getShortenedAddress.js
  src/utils/wallets/index.js
Due: npm run lint:js

Update WalletsAddressesView
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/components/MnemonicAddressesList.js
  src/routes/Wallets/routes/Addresses/styles/mnemonicAddressesList.scss
  src/routes/Wallets/routes/Addresses/styles/walletsMnemonicAddressesView.scss
Due: npm run lint:js, npm run lint:css

Update WalletsIndexView
  src/routes/Wallets/WalletsIndexView.js
Due: npm run lint:js

Add WalletViewTitle component
  src/components/WalletViewTitle/WalletViewTitle.js
  src/components/WalletViewTitle/index.js
  src/components/WalletViewTitle/walletViewTitle.scss
  src/components/index.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Add MnemonicAddresses component
  src/components/MnemonicAddresses/MnemonicAddresses.js
  src/components/MnemonicAddresses/index.js
  src/components/MnemonicAddresses/mnemonicAddresses.scss
Due: npm run lint:js, npm run lint:css

Update WalletStep
  src/components/WalletStep/WalletStep.js
  src/components/WalletStep/walletStep.scss
Due: npm run lint:js, npm run lint:css

Update walletsAddresses sagas (use keystore service without worker)
  flow-typed/types.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Addresses/modules/walletsAddresses.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Remove active styles for button
  src/components/base/JFlatButton/jFlatButton.scss
  src/components/base/JRaisedButton/jRaisedButton.scss
Due: npm run lint:css

Update walletsView styles
  src/routes/Wallets/walletsView.scss
Due: npm run lint:css

Fix JInput disabled styles
  src/components/base/JInput/jInput.scss
  src/styles/colors.scss
Due: npm run lint:css

Fix WalletStep (add default props title)
  src/components/WalletStep/WalletStep.js
Due: npm run lint:js

Update WalletHeader
  src/components/WalletHeader/WalletHeader.js
  src/components/WalletHeader/WalletHeaderContainer.js
  src/components/WalletHeader/index.js
  src/components/WalletHeader/walletHeader.scss
Due: npm run lint:js, npm run lint:css

Update ModalHeader
  src/components/ModalHeader/modalHeader.scss
Due: npm run lint:css

Disable no-descending-specificity stylelint rule
  .stylelintrc
Due: none

Update RoundIconButton
  src/components/RoundIconButton/RoundIconButton.js
  src/components/RoundIconButton/roundIconButton.scss
Due: npm run lint:js, npm run lint:css

Update config (add landingURL param)
  src/config.js
Due: npm run lint:js

Update MnemonicAddresses
  src/components/MnemonicAddresses/MnemonicAddresses.js
Due: npm run lint:js

Add wallets/getAddressWalletNames util function
  src/utils/wallets/getAddressWalletNames.js
  src/utils/wallets/index.js
Due: npm run lint:js

Update WalletsAddressesView
  src/routes/Wallets/routes/Addresses/WalletsAddressesView.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
Due: npm run lint:js

Update RoundIconButton (fix typo)
  src/components/RoundIconButton/RoundIconButton.js
Due: npm run lint:js

Refactor wallets worker (remove checkNameRequest)
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/routes/Wallets/sagas/wallets.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Cleanup wallets sagas & module
  flow-typed/types.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
  src/routes/Wallets/routes/Import/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/routes/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
  src/routes/Wallets/routes/Start/sagas/walletsStart.js
  src/routes/Wallets/sagas/wallets.js
  src/store/stateSelectors.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Refactor walletsRename
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
  src/routes/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/routes/Wallets/routes/Rename/modules/walletsRename.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Refactor walletsDelete
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/routes/Wallets/routes/Delete/modules/walletsDelete.js
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

JWWEB-186 Styling header in DigitalAssets
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/digitalAssetsGridView.scss
  stories/components/Asset.stories.js
Due: npm run lint:js, npm run lint:css

Add new icon in JIcon
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/setting-grid-gray.svg
  src/styles/icons.scss
  stories/components/base/JIcon.stories.js
Due: npm run lint:css

Removed double color
  src/styles/colors.scss
Due: npm run lint:css

Fix size layout digital-assets-grid
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
Due: npm run lint:css

JWWEB-168 Create new AddDigitalAsset component
  src/components/DigitalAssetsGrid/AddDigitalAsset/AddDigitalAsset.js
  src/components/DigitalAssetsGrid/AddDigitalAsset/addDigitalAsset.scss
  src/components/DigitalAssetsGrid/AddDigitalAsset/index.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  stories/components/AddDigitalAsset.stories.js
  stories/components/Asset.stories.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

Update walletsAddresses module & sagas
  src/routes/Wallets/routes/Addresses/modules/walletsAddresses.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
Due: npm run lint:js

Add WalletsRenameAddressView
  flow-typed/types.js
  src/routes/Wallets/index.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
  src/routes/Wallets/routes/RenameAddress/WalletsRenameAddressView.js
  src/routes/Wallets/routes/RenameAddress/WalletsRenameAddressViewContainer.js
  src/routes/Wallets/routes/RenameAddress/index.js
  src/routes/Wallets/routes/RenameAddress/modules/walletsRenameAddress.js
  src/routes/Wallets/routes/RenameAddress/sagas/index.js
  src/routes/Wallets/routes/RenameAddress/sagas/walletsRenameAddress.js
  src/routes/Wallets/sagas/index.js
  src/routes/Wallets/walletsView.scss
  src/services/keystore.js
  src/store/reducers.js
  src/store/stateSelectors.js
Due: npm run lint:js, npm run lint:css
