Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

Updating components call path
  src/routes/Wallets/components/WalletsIndexView.js
  src/routes/Wallets/routes/Addresses/components/MnemonicAddressesList.js
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
  src/routes/Wallets/routes/Start/components/WalletsStartView.js
  src/routes/Wallets/styles/wallets.scss
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

WalletCard add in storybook
  src/components/WalletActions/WalletActions.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletLoading/WalletLoading.js
  src/components/WalletLoading/WalletLoading.scss
  src/components/WalletLoading/index.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.scss
  src/components/base/JIcon/JIcon.js
  src/styles/core.scss
  stories/components/WalletCard.stories.js
  stories/components/index.js
  stories/index.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

Update package-lock
  package-lock.json
Due: none

new i18n lang fields
  src/i18n/en.js
  src/i18n/ja.js
  src/i18n/ko.js
  src/i18n/zh.js
Due: npm run lint:js

change routes
  src/routes/CustomAsset/index.js
  src/routes/CustomAsset/routes/Add/index.js
  src/routes/CustomAsset/routes/Edit/index.js
Due: npm run lint:js

file deletions
  src/routes/CustomAsset/containers/CustomAssetContainer.js
  src/routes/CustomAsset/modules/customAsset.js
  src/routes/CustomAsset/sagas/customAsset.js
Due: npm run lint:js

custom asset modules reducer and selectors changed
  flow-typed/functions.js
  flow-typed/types.js
  src/routes/CustomAsset/modules/CustomAsset.js
  src/store/reducers.js
  src/store/stateSelectors.js
Due: npm run lint:js

added getContractDecimals, getContractName, getContractSymbol, typefix
  src/services/web3.js
Due: npm run lint:js

sagas
  src/routes/CustomAsset/sagas/CustomAsset.js
  src/routes/CustomAsset/sagas/index.js
Due: npm run lint:js

components and contatiners
  src/routes/CustomAsset/components/CustomAsset.js
  src/routes/CustomAsset/components/index.js
  src/routes/CustomAsset/containers/CustomAssetAddContainer.js
  src/routes/CustomAsset/containers/index.js
Due: npm run lint:js

misc
  src/middlewares/forms.js
  src/middlewares/router.js
Due: npm run lint:js

misc
  src/routes/CustomAsset/components/index.js
  src/routes/CustomAsset/containers/index.js
Due: npm run lint:js

package-lock.json updated
  package-lock.json
Due: none

files renamed
  src/routes/CustomAsset/modules/customAsset.js
  src/routes/CustomAsset/sagas/customAsset.js
  src/routes/CustomAsset/sagas/index.js
Due: npm run lint:js

fixes
  flow-typed/types.js
  src/components/DigitalAssets/DigitalAssetsContainer.js
  src/middlewares/router.js
  src/routes/CustomAsset/components/CustomAsset.js
  src/routes/CustomAsset/routes/Add/index.js
Due: npm run lint:js

fix i18n
  src/routes/CustomAsset/sagas/customAsset.js
Due: npm run lint:js

enable customAssetSaga
  src/store/sagas.js
Due: npm run lint:js

export methods
  src/services/web3.js
Due: npm run lint:js

Add fork of localforage module
  package-lock.json
  package.json
  src/store/reducers.js
Due: npm run lint:js

Integrate redux-persist with basic storage
  src/AppContainer.js
  src/main.js
  src/store/configureStore.js
  src/store/reducers.js
Due: npm run lint:js

Update flow types for src/store & main.js
  .stylelintrc
  flow-typed/style.js
  flow-typed/types.js
  src/main.js
  src/store/configureStore.js
  src/store/reducers.js
Due: npm run lint:js

Add redux-persist dependency
  package-lock.json
  package.json
Due: none

Update localforage dependency
  package-lock.json
  package.json
Due: none

Integrate redux-persist (#335)
  .stylelintrc
  flow-typed/style.js
  flow-typed/types.js
  package-lock.json
  package.json
  src/AppContainer.js
  src/main.js
  src/store/configureStore.js
  src/store/reducers.js
Due: npm run lint:js

small fixes
  flow-typed/types.js
  src/i18n/en.js
  src/i18n/ja.js
  src/i18n/ko.js
  src/i18n/zh.js
  src/routes/CustomAsset/sagas/customAsset.js
Due: npm run lint:js

fix absent transactions reducers
  src/store/reducers.js
Due: npm run lint:js

Feature/46 input textarea component (#332)
  flow-typed/types.js
  src/components/PasswordField/Indicator/passwordFieldIndicator.scss
  src/components/PasswordField/PasswordFieldContainer.js
  src/components/base/JInput/JInput.js
  src/components/base/JInput/jInput.scss
  src/styles/_base.scss
  src/styles/colors.scss
  src/styles/core.scss
  stories/components/PasswordField.stories.js
  stories/components/base/JInput.stories.js
  stories/components/base/index.js
  stories/components/index.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

fix absent transactions reducers (#346)
  src/store/reducers.js
Due: npm run lint:js

remove margin (see new design)
  src/routes/CustomAsset/styles/customAsset.scss
Due: npm run lint:css

support for new input isLoading
  src/routes/CustomAsset/components/CustomAsset.js
  src/routes/CustomAsset/containers/CustomAssetAddContainer.js
Due: npm run lint:js

fix flowtype error
  flow-typed/types.js
Due: none

fix flowtypes
  src/components/base/JInput/JInput.js
Due: npm run lint:js

fix flowtypes (#349)
  src/components/base/JInput/JInput.js
Due: npm run lint:js

update package-json
  package-lock.json
Due: none

update package-json (#351)
  package-lock.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

new packeage-lock
  package-lock.json
Due: none

Update wallets module (add ExtractReturn)
  src/routes/Wallets/modules/wallets.js
Due: npm run lint:js

Update walletsImport module
  src/routes/Wallets/routes/Import/modules/importWallet.js
  src/routes/Wallets/routes/Import/modules/walletsImport.js
Due: npm run lint:js

Update WalletPasswordStep component (remove pure HOC)
  src/components/WalletPasswordStep/WalletPasswordStep.js
  src/components/WalletPasswordStep/WalletPasswordStepContainer.js
  src/components/WalletPasswordStep/index.js
Due: npm run lint:js
