Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

update digital assets grid
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/index.js
  src/routes/CustomAsset/index.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Grid/modules/digitalAssetsGrid.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/DigitalAssets/sagas/index.js
  src/routes/index.js
  src/routes/modules/wallet.js
Due: npm run lint:js

wp
  flow-typed/npm/redux_v4.x.x.js
  flow-typed/types-digitalAssets.js
  flow-typed/types-funds.js
  flow-typed/types-networks.js
  flow-typed/types-transactions.js
  flow-typed/types-wallets.js
  flow-typed/types.js
  src/AppContainer.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetView.js
  src/routes/DigitalAssets/routes/AddAsset/index.js
  src/routes/DigitalAssets/routes/AddAsset/modules/addAsset.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/store/configureStore.js
  src/store/reducers.js
  src/store/sagas.js
Due: npm run lint:js

fixes
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/AddAsset/modules/addAsset.js
  src/store/stateSelectors.js
Due: npm run lint:js

split flow-typed/types.js
  flow-typed/types-digitalAssets.js
  flow-typed/types-funds.js
  flow-typed/types-networks.js
  flow-typed/types-transactions.js
  flow-typed/types-wallets.js
  flow-typed/types.js
Due: none

update flow-typed deps
  flow-typed/npm/react-toastify_v3.2.x.js
  flow-typed/npm/redux_v4.x.x.js
Due: none

fix eslint errors
  flow-typed/globals.js
Due: none

remove FSA from legacy code
  src/routes/Funds/routes/Convert/modules/convertFunds.js
  src/routes/Funds/routes/Receive/modules/receiveFunds.js
  src/routes/Funds/routes/Send/modules/sendFunds.js
  src/routes/Transactions/modules/transactions.js
  src/routes/modules/networks.js
Due: npm run lint:js

Chage type State to AppState
  src/components/ActiveAssetsPanel/ActiveAssetsPanelContainer.js
  src/components/AssetPicker/AssetPickerContainer.js
  src/components/DigitalAssets/DigitalAssetsContainer.js
  src/components/MenuPanel/MenuPanelContainer.js
  src/layouts/DigitalAssetsLayout/DigitalAssetsLayoutContainer.js
  src/layouts/TransactionsLayout/TransactionsLayoutContainer.js
  src/routes/CustomAsset/routes/Add/CustomAssetAddContainer.js
  src/routes/Funds/routes/Receive/containers/FundsReceiveViewContainer.js
  src/routes/Funds/routes/Send/containers/FundsSendViewContainer.js
  src/routes/Transactions/routes/All/containers/TransactionsAllViewContainer.js
  src/routes/Transactions/routes/Incoming/containers/TransactionsIncomingViewContainer.js
  src/routes/Transactions/routes/Outgoing/containers/TransactionsOutgoingViewContainer.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/routes/Addresses/WalletsAddressesViewContainer.js
  src/routes/Wallets/routes/Backup/WalletsBackupViewContainer.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Delete/WalletsDeleteViewContainer.js
  src/routes/Wallets/routes/Import/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Rename/WalletsRenameViewContainer.js
  src/routes/Wallets/routes/RenameAddress/WalletsRenameAddressViewContainer.js
  src/routes/index.js
  src/store/stateSelectors.js
Due: npm run lint:js

remove injectReducer functionality
  flow-typed/types.js
  src/routes/DigitalAssets/routes/Balance/index.js
  src/routes/DigitalAssets/routes/Custom/index.js
  src/routes/Funds/routes/Convert/index.js
  src/routes/Funds/routes/Receive/index.js
  src/routes/Funds/routes/Send/index.js
  src/routes/Transactions/routes/All/index.js
  src/routes/Transactions/routes/Incoming/index.js
  src/routes/Transactions/routes/Outgoing/index.js
  src/store/reducers.js
Due: npm run lint:js

add redux-developer-tools, flowtype fixes
  src/store/configureStore.js
Due: npm run lint:js

redux types moved to redux folder, comments removed
  flow-typed/functions.js
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  flow-typed/redux/funds.js
  flow-typed/redux/networks.js
  flow-typed/redux/router.js
  flow-typed/redux/transactions.js
  flow-typed/redux/wallets.js
  flow-typed/types.js
  src/routes/DigitalAssets/modules/digitalAssets.old.mjs
  src/routes/DigitalAssets/sagas/digitalAssets.old.mjs
Due: none

Delete digitalAssets.old.mjs
  src/routes/DigitalAssets/sagas/digitalAssets.old.mjs
Due: none

Delete digitalAssets.old.mjs
  src/routes/DigitalAssets/modules/digitalAssets.old.mjs
Due: none

fix flowtypes
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  flow-typed/redux/router.js
Due: none

add asset functionality
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/AddAsset/index.js
  src/routes/DigitalAssets/routes/AddAsset/modules/addAsset.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/store/reducers.js
  src/store/stateSelectors.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

small fixes
  src/layouts/AsideLayout/AsideLayoutContainer.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/modules/aside.js
  src/store/sagas.js
Due: npm run lint:js

Remove CustomAsset folder
  src/styles/core.scss
Due: npm run lint:css

Fix onChange in JCheckbox
  src/components/base/JCheckbox/JCheckbox.js
Due: npm run lint:js

Filters connected to redux
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Grid/modules/digitalAssetsGrid.js
  src/routes/DigitalAssets/routes/Grid/sagas/digitalAssetsGrid.js
  src/store/stateSelectors.js
Due: npm run lint:js

Fix event type
  src/components/base/JCheckbox/JCheckbox.js
Due: npm run lint:js

Fix flowtype errors
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
Due: npm run lint:js

remove option my assets first
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Grid/modules/digitalAssetsGrid.js
Due: npm run lint:js

add deprecated modules to .flowconfig
  .flowconfig
Due: none

Rename icon, bg button in window, add gradient for header, add JText for button filter, remove checkbox
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
  src/components/DigitalAssetsFilter/digitalAssetsFilter.scss
  src/components/base/JIcon/jIcon.scss
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/digitalAssetsGridView.scss
Due: npm run lint:js, npm run lint:css

fix offset grid
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
Due: npm run lint:css

Fix JSearch event call
  src/components/base/JSearch/JSearch.js
Due: npm run lint:js

add filterCount prop to components
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
Due: npm run lint:js

flowtype store coverage
  flow-typed/redux/appState.js
  package.json
  src/AppContainer.js
  src/routes/index.js
  src/store/configureStore.js
  src/store/reducers.js
Due: npm run lint:js

filter and seaech functionality
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
Due: npm run lint:js

Now we can use connect with flow 0.85.0
  flow-typed/npm/react-redux.js
  flow-typed/npm/react-redux_v5.x.x.js
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/layouts/AsideLayout/AsideLayoutContainer.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Grid/sagas/digitalAssetsGrid.js
  src/store/stateSelectors.js
Due: npm run lint:js

Fix Aside layout flowtypes
  flow-typed/npm/react-redux.js
  src/layouts/AsideLayout/AsideLayoutContainer.js
Due: npm run lint:js

JWWEB-212 Update JTooltip
  src/components/base/JTooltip/JTooltip.js
  src/components/base/JTooltip/index.js
  src/components/base/JTooltip/jTooltip.scss
  src/components/base/JTooltip/rc-tooltip.scss
  src/components/base/index.js
  src/styles/core.scss
  stories/__new__/JTooltip.stories.js
  stories/components/base/JTooltip.stories.js
  stories/components/base/index.js
Due: npm run lint:js, npm run lint:css

JWWEB-169 Create new AssetItem component
  src/components/ActiveAssetsPanel/ActiveAssetsPanel.js
  src/components/ActiveAssetsPanel/ActiveAssetsPanelContainer.js
  src/components/ActiveAssetsPanel/AssetItem/AssetItem.js
  src/components/ActiveAssetsPanel/AssetItem/assetItem.scss
  src/components/ActiveAssetsPanel/CurrentAddress/CurrentAddress.js
  src/components/ActiveAssetsPanel/CurrentAddress/currentAddress.scss
  src/components/ActiveAssetsPanel/CurrentAddress/index.js
  src/components/ActiveAssetsPanel/ManageAssets/ManageAssets.js
  src/components/ActiveAssetsPanel/ManageAssets/index.js
  src/components/ActiveAssetsPanel/ManageAssets/manageAssets.scss
  src/components/ActiveAssetsPanel/activeAssetsPanel.scss
  src/components/ActiveAssetsPanel/index.js
  src/components/AssetBalance/AssetBalance.js
  src/components/AssetItem/AssetItem.js
  src/components/AssetItem/assetItem.scss
  src/components/AssetItem/index.js
  src/components/base/JCard/JCard.js
  src/components/base/JCard/jCard.scss
  src/components/base/JIcon/jIcon.scss
  src/components/index.js
  src/public/assets/icons/new-pack/medium/trash-blue.svg
  src/public/assets/icons/new-pack/medium/trash-sky.svg
  src/styles/colors.scss
  src/styles/core.scss
  src/styles/icons.scss
  stories/components/AssetItem.stories.js
  stories/components/base/JIcon.stories.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

flowtype function types workaround
  src/layouts/AsideLayout/AsideLayoutContainer.js
  src/main.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/store/reducers.js
Due: npm run lint:js

enable more tokens for development
  src/data/assets/main.js
Due: npm run lint:js

package-lock.json
  package-lock.json
Due: none

Add asset block
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
Due: npm run lint:js

small structure changes
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/modules/index.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetView.js
  src/routes/DigitalAssets/sagas/index.js
  src/routes/index.js
  src/store/reducers.js
  src/store/sagas.js
Due: npm run lint:js

add asset
  src/components/CloseableScreen/CloseableScreen.js
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/AddAsset/modules/addAsset.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/store/stateSelectors.js
Due: npm run lint:js

Merge with develop
  src/components/base/JSwitch/JSwitch.js
  src/components/base/JSwitch/index.js
  src/components/base/JSwitch/jSwitch.scss
  src/components/base/index.js
  src/styles/core.scss
  stories/components/base/JSwitch.stories.js
  stories/components/base/JTooltip.stories.js
  stories/components/base/index.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

Path conditions:
  npm run lint:js: any of: src/**/*.js
  npm run lint:css: any of: src/**/*.scss
