Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

.lintstagedrc:

{
  "src/**/*.js": "npm run lint:js",
  "src/**/*.scss": "npm run lint:css"
}

JWWEB-170 Create AssetManager header
  src/routes/DigitalAssets/routes/Manager/AssetsManagerView.js
  src/routes/DigitalAssets/routes/Manager/AssetsManagerViewContainer.js
  src/routes/DigitalAssets/routes/Manager/assetsManagerView.scss
  src/routes/DigitalAssets/routes/Manager/index.js
  src/routes/DigitalAssets/routes/Manager/modules/assetsManager.js
  src/routes/DigitalAssets/routes/Manager/sagas/assetsManager.js
Due: npm run lint:js, npm run lint:css

Replace key bg on the varriable
  src/components/base/JSwitch/JSwitch.js
  src/components/base/JSwitch/jSwitch.scss
Due: npm run lint:js, npm run lint:css

Include JSwitch and JTooltip
  src/components/AssetItem/AssetItem.js
  src/components/AssetItem/assetItem.scss
  src/components/base/JSwitch/jSwitch.scss
Due: npm run lint:js, npm run lint:css

Edit asset functionality
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/routes/AddAsset/modules/addAsset.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetView.js
  src/routes/DigitalAssets/routes/EditAsset/index.js
  src/routes/DigitalAssets/routes/EditAsset/modules/editAsset.js
  src/routes/DigitalAssets/routes/EditAsset/sagas/editAsset.js
  src/routes/DigitalAssets/sagas/index.js
  src/store/reducers.js
  src/store/stateSelectors.js
Due: npm run lint:js

Rename sort Order to Direction
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Grid/index.js
  src/routes/DigitalAssets/routes/Grid/modules/digitalAssetsGrid.js
  src/routes/DigitalAssets/routes/Grid/sagas/digitalAssetsGrid.js
Due: npm run lint:js

Resolve problems
  src/components/AssetItem/AssetItem.js
  src/components/AssetItem/assetItem.scss
Due: npm run lint:js, npm run lint:css

make core modules
  src/layouts/CoreLayout/CoreLayoutContainer.js
  src/layouts/CoreLayout/index.js
  src/routes/index.js
  src/routes/modules/aside.js
  src/routes/modules/index.js
  src/routes/modules/layout.js
  src/store/sagas.js
Due: npm run lint:js

fix filter icon when filter is selected
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
Due: npm run lint:js

backOrFallback implementation
  src/routes/DigitalAssets/modules/index.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/AddAsset/AddAssetView.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/routes/DigitalAssets/routes/EditAsset/sagas/editAsset.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/modules/redirect.js
  src/routes/sagas/index.js
  src/routes/sagas/redirect.js
Due: npm run lint:js

remove dead comments
  src/store/reducers.js
Due: npm run lint:js

Update CloseableScreen
  src/components/CloseableScreen/CloseableScreen.js
  src/components/CloseableScreen/closeableScreen.scss
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
  src/components/DigitalAssetEditForm/digitalAssetEditForm.scss
  src/components/base/JIcon/jIcon.scss
  src/components/base/JRaisedButton/jRaisedButton.scss
  src/public/assets/icons/new-pack/medium/padding-cross-gray.svg
  src/styles/_base.scss
  src/styles/icons.scss
Due: npm run lint:js, npm run lint:css

Small fix
  src/components/base/JRaisedButton/jRaisedButton.scss
Due: npm run lint:css

rename component
  src/routes/DigitalAssets/routes/EditAsset/EditAssetView.js
Due: npm run lint:js

redirect after add/edit asset
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/routes/EditAsset/sagas/editAsset.js
Due: npm run lint:js

Fix PR request
  flow-typed/redux/digitalAssets.js
  src/components/CloseableScreen/CloseableScreen.js
  src/components/CloseableScreen/closeableScreen.scss
  src/components/CloseableScreen/index.js
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
Due: npm run lint:js, npm run lint:css

Digital assets manager
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  src/components/AssetItem/AssetItem.js
  src/components/DigitalAssetsManager/DigitalAssetsManager.js
  src/components/DigitalAssetsManager/Empty/Empty.js
  src/components/DigitalAssetsManager/Empty/empty.scss
  src/components/DigitalAssetsManager/Empty/index.js
  src/components/DigitalAssetsManager/digitalAssetsManager.scss
  src/components/DigitalAssetsManager/index.js
  src/components/RoundIconButton/RoundIconButton.js
  src/components/index.js
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Manager/DigitalAssetsManagerView.js
  src/routes/DigitalAssets/routes/Manager/DigitalAssetsManagerViewContainer.js
  src/routes/DigitalAssets/routes/Manager/digitalAssetsManagerView.scss
  src/routes/DigitalAssets/routes/Manager/index.js
  src/routes/DigitalAssets/routes/Manager/modules/digitalAssetsManager.js
  src/store/reducers.js
  src/store/stateSelectors.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Update DigitalAssetsManager style
  src/components/DigitalAssetsManager/digitalAssetsManager.scss
  src/routes/DigitalAssets/digitalAssets.scss
  src/routes/DigitalAssets/routes/Manager/DigitalAssetsManagerView.js
  src/routes/DigitalAssets/routes/Manager/digitalAssetsManagerView.scss
  src/styles/colors.scss
Due: npm run lint:js, npm run lint:css

Some problems resolved
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  src/components/PopupButton/PopupButton.js
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JSearch/JSearch.js
  src/routes/DigitalAssets/routes/Grid/digitalAssetsGridView.scss
  src/styles/colors.scss
Due: npm run lint:js, npm run lint:css

manage digital assets
  src/components/AssetItem/AssetItem.js
  src/components/DigitalAssetsManager/DigitalAssetsManager.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/routes/Manager/DigitalAssetsManagerView.js
  src/routes/DigitalAssets/routes/Manager/DigitalAssetsManagerViewContainer.js
  src/routes/DigitalAssets/routes/Manager/modules/digitalAssetsManager.js
  src/store/reducers.js
Due: npm run lint:js

Fixed delete asset
  src/routes/DigitalAssets/modules/digitalAssets.js
Due: npm run lint:js

Fix trouble with setField
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
Due: npm run lint:js

Add settings page stub
  src/routes/Settings/SettingsIndexView.js
  src/routes/Settings/SettingsIndexViewContainer.js
  src/routes/Settings/index.js
  src/routes/Settings/settingsView.scss
  src/routes/index.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Fix PR commented issues
  flow-typed/redux/digitalAssets.js
  src/AppContainer.js
  src/components/CloseableScreen/CloseableScreen.js
  src/components/CloseableScreen/closeableScreen.scss
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
  src/components/DigitalAssetsFilter/digitalAssetsFilter.scss
  src/components/DigitalAssetsGrid/AddDigitalAsset/AddDigitalAsset.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/assetCardBody.scss
  src/components/DigitalAssetsGrid/Asset/asset.scss
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/digitalAssetsGrid.scss
  src/components/PopupButton/PopupButton.js
  src/layouts/CoreLayout/CoreLayoutContainer.js
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/modules/index.js
  src/routes/DigitalAssets/routes/AddAsset/modules/addAsset.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetView.js
  src/routes/DigitalAssets/routes/EditAsset/modules/editAsset.js
  src/routes/DigitalAssets/routes/EditAsset/sagas/editAsset.js
  src/routes/DigitalAssets/routes/Grid/modules/digitalAssetsGrid.js
  src/routes/index.js
  src/routes/modules/index.js
  src/routes/modules/layout.js
  src/store/configureStore.js
  src/store/reducers.js
Due: npm run lint:js, npm run lint:css

rename Manager to Manage
  flow-typed/redux/appState.js
  flow-typed/redux/digitalAssets.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/components/DigitalAssetsManage/Empty/Empty.js
  src/components/DigitalAssetsManage/Empty/empty.scss
  src/components/DigitalAssetsManage/Empty/index.js
  src/components/DigitalAssetsManage/digitalAssetsManage.scss
  src/components/DigitalAssetsManage/index.js
  src/components/DigitalAssetsManager/index.js
  src/components/index.js
  src/routes/DigitalAssets/digitalAssets.scss
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/DigitalAssets/routes/Manage/digitalAssetsManageView.scss
  src/routes/DigitalAssets/routes/Manage/index.js
  src/routes/DigitalAssets/routes/Manage/modules/digitalAssetsManage.js
  src/routes/DigitalAssets/routes/Manager/index.js
  src/store/reducers.js
  src/store/stateSelectors.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Update MenuPanel
  src/components/MenuPanel/Actions/Actions.js
  src/components/MenuPanel/Actions/Item/Item.js
  src/components/MenuPanel/Actions/Item/index.js
  src/components/MenuPanel/Actions/Item/item.scss
  src/components/MenuPanel/Actions/More/More.js
  src/components/MenuPanel/Actions/More/index.js
  src/components/MenuPanel/Actions/More/more.scss
  src/components/MenuPanel/Actions/actions.scss
  src/components/MenuPanel/Actions/index.js
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/MenuPanel/BalanceTicker/balanceTicker.scss
  src/components/MenuPanel/BalanceTicker/index.js
  src/components/MenuPanel/Link/MenuLink.js
  src/components/MenuPanel/Link/index.js
  src/components/MenuPanel/Link/menuLink.scss
  src/components/MenuPanel/MainAction/MainAction.js
  src/components/MenuPanel/MainAction/index.js
  src/components/MenuPanel/MainAction/mainAction.scss
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/MenuPanelContainer.js
  src/components/MenuPanel/WalletManager/WalletManager.js
  src/components/MenuPanel/WalletManager/index.js
  src/components/MenuPanel/index.js
  src/components/MenuPanel/menuPanel.scss
  src/components/base/JLogo/JLogo.js
  src/components/base/JLogo/jLogo.scss
  src/components/base/JRaisedButton/JRaisedButton.js
  src/layouts/CoreLayout/coreLayout.scss
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/menuLayout.scss
  src/styles/_base.scss
  src/styles/colors.scss
  src/utils/numbers/divideThousands.js
  src/utils/numbers/index.js
  src/utils/numbers/round.js
Due: npm run lint:js, npm run lint:css

Update MenuPanel
  src/components/MenuPanel/Actions/Item/item.scss
  src/components/MenuPanel/Actions/More/more.scss
  src/components/MenuPanel/BalanceTicker/BalanceTicker.js
  src/components/MenuPanel/BalanceTicker/balanceTicker.scss
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/Select/MenuSelect.js
  src/components/MenuPanel/Select/index.js
  src/components/MenuPanel/Select/menuSelect.scss
  src/components/MenuPanel/WalletManager/Details/Actions/Actions.js
  src/components/MenuPanel/WalletManager/Details/Actions/actions.scss
  src/components/MenuPanel/WalletManager/Details/Actions/index.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Addresses.js
  src/components/MenuPanel/WalletManager/Details/Addresses/addresses.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/index.js
  src/components/MenuPanel/WalletManager/Details/Details.js
  src/components/MenuPanel/WalletManager/Details/details.scss
  src/components/MenuPanel/WalletManager/Details/index.js
  src/components/MenuPanel/WalletManager/Main/Main.js
  src/components/MenuPanel/WalletManager/Main/index.js
  src/components/MenuPanel/WalletManager/Main/main.scss
  src/components/MenuPanel/WalletManager/WalletManager.js
  src/components/MenuPanel/WalletManager/walletManager.scss
  src/components/MenuPanel/menuPanel.scss
  src/layouts/MenuLayout/MenuLayout.js
  src/layouts/MenuLayout/MenuLayoutContainer.js
  src/layouts/MenuLayout/index.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/Wallets/sagas/wallets.js
  src/styles/colors.scss
Due: npm run lint:js, npm run lint:css

scheduler (--no-verify)
  flow-typed/redux/appState.js
  flow-typed/redux/blocks.js
  src/routes/modules/blocks.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/routes/sagas/index.js
  src/services/web3.js
  src/store/reducers.js
Due: npm run lint:js

JWWEB-214 Use ButtonWithConfirm inside AssetItem
  src/components/AssetItem/AssetItem.js
  src/components/AssetItem/assetItem.scss
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/ButtonWithConfirm/buttonWithConfirm.scss
Due: npm run lint:js, npm run lint:css

JWWEB-224 Implement component TransactionsFilter
  src/components/TransactionsFilter/TransactionsFilter.js
  src/components/TransactionsFilter/index.js
  src/components/TransactionsFilter/transactionsFilter.scss
  src/components/index.js
  src/styles/core.scss
  stories/components/DigitalAssetsFilter.stories.js
  stories/components/FilterComponents.stories.js
  stories/components/index.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

balances (undone)
  flow-typed/redux/balances.js
  flow-typed/redux/blocks.js
  flow-typed/redux/digitalAssets.js
  flow-typed/redux/wallets.js
  flow-typed/scheduler.js
  flow-typed/types.js
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/Wallets/sagas/wallets.js
  src/routes/modules/balances.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/store/reducers.js
Due: npm run lint:js

JWWEB-219 User see notificaton, that nothing found
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/Empty/Empty.js
  src/components/DigitalAssetsGrid/Empty/empty.scss
  src/components/base/JThumbnail/JThumbnail.js
  src/components/base/JThumbnail/jThumbnail.scss
Due: npm run lint:js, npm run lint:css

update eslint
  .eslintrc
  package-lock.json
  package.json
Due: none

disable no-use-before-define rule
  .eslintrc
Due: none

add isLoading flag management in transactions module
  flow-typed/redux/transactions.js
  src/routes/modules/transactions.js
  src/routes/sagas/transactions.js
  src/store/stateSelectors.js
Due: npm run lint:js

balances scheduler
  flow-typed/redux/balances.js
  flow-typed/redux/blocks.js
  src/routes/modules/blocks.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
Due: npm run lint:js

fixed new block reschedule
  src/routes/sagas/blocks.js
Due: npm run lint:js

JWWEB-226 Update styles of AsideMenu component
  src/components/MenuPanel/Actions/Actions.js
  src/components/MenuPanel/Actions/More/More.js
  src/components/MenuPanel/WalletManager/Details/Details.js
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/protect-white.svg
  src/styles/core.scss
  src/styles/icons.scss
Due: npm run lint:js, npm run lint:css

Added icon version of JLogo
  src/components/MenuPanel/MenuPanel.js
  src/components/WalletHeader/walletHeader.scss
  src/components/base/JLogo/JLogo.js
  src/components/base/JLogo/jLogo.scss
  src/public/assets/logo/logo-icon.svg
  src/styles/images.scss
Due: npm run lint:js, npm run lint:css
