Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

Add WalletDataStep component
  src/components/WalletDataStep/WalletDataStep.js
  src/components/WalletDataStep/index.js
  src/components/WalletDataStep/walletDataStep.scss
  src/components/index.js
Due: npm run lint:js, npm run lint:css

Update WalletNameStep component (remove pure HOC)
  src/components/WalletNameStep/WalletNameStep.js
  src/components/WalletNameStep/WalletNameStepContainer.js
  src/components/WalletNameStep/index.js
Due: npm run lint:js

Update walletsCreate module (add ExtractReturn)
  src/routes/Wallets/routes/Create/modules/walletsCreate.js
Due: npm run lint:js

Update walletsImport module (check data actions)
  src/routes/Wallets/routes/Import/modules/walletsImport.js
Due: npm run lint:js

Update CoreLayout
  src/layouts/CoreLayout/CoreLayout.js
  src/layouts/CoreLayout/CoreLayoutContainer.js
  src/layouts/CoreLayout/coreLayout.scss
  src/layouts/CoreLayout/index.js
Due: npm run lint:js, npm run lint:css

Update WalletsImportView & container for it
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/routes/Wallets/routes/Import/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Import/components/DataStep.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
  src/routes/Wallets/routes/Import/containers/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Import/index.js
Due: npm run lint:js

Update WalletDataStep component (props names)
  src/components/WalletDataStep/WalletDataStep.js
Due: npm run lint:js

Update walletsImport saga
  src/routes/Wallets/routes/Import/sagas/importWallet.js
  src/routes/Wallets/routes/Import/sagas/index.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
Due: npm run lint:js

Update walletsCreate saga
  src/routes/Wallets/routes/Create/sagas/index.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
Due: npm run lint:js

Update flow types for walletsImport module
  flow-typed/types.js
Due: none

Update wallets/create view and sagas (props, yield*, etc)
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Create/sagas/index.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
Due: npm run lint:js

Update wallets & walletsCreate modules (types)
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Create/modules/walletsCreate.js
Due: npm run lint:js

Update state selector for walletsImport
  src/store/stateSelectors.js
Due: npm run lint:js

Update keystore dependency
  package-lock.json
Due: none

Enable wallets/import route
  src/routes/Wallets/index.js
Due: npm run lint:js

Update WalletsCreateView types
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
Due: npm run lint:js

Update walletsImport module & saga
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/routes/Wallets/routes/Import/modules/walletsImport.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
Due: npm run lint:js

Update walletsStart module
  src/middlewares/router.js
  src/routes/Wallets/routes/Start/WalletsStartView.js
  src/routes/Wallets/routes/Start/WalletsStartViewContainer.js
  src/routes/Wallets/routes/Start/components/WalletsStartView.js
  src/routes/Wallets/routes/Start/containers/WalletsStartViewContainer.js
  src/routes/Wallets/routes/Start/index.js
  src/routes/Wallets/routes/Start/modules/start.js
Due: npm run lint:js

Add type def for worker postMessage function
  flow-typed/functions.js
Due: none

Update core layout (add core.scss styles)
  src/layouts/CoreLayout/CoreLayout.js
Due: npm run lint:js

Move base code for create/import pages to wallets module
  flow-typed/types.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/routes/Create/WalletsCreateViewContainer.js
  src/routes/Wallets/routes/Create/modules/walletsCreate.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Import/WalletsImportViewContainer.js
  src/routes/Wallets/routes/Import/modules/walletsImport.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/routes/Wallets/sagas/index.js
  src/routes/Wallets/sagas/wallets.js
  src/services/keystore.js
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update reducers (add walletsImport)
  src/store/reducers.js
Due: npm run lint:js

Update wallets worker
  src/workers/wallets/worker.js
  src/workers/wallets/wrapper.js
Due: npm run lint:js

Update keystore service (add getChecksum call)
  src/services/keystore.js
Due: npm run lint:js

Update router config
  src/routes/index.js
Due: npm run lint:js

Update walletsCreate module
  src/routes/Wallets/routes/Create/modules/walletsCreate.js
Due: npm run lint:js

Update WalletsIndexView
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/WalletsIndexViewContainer.js
  src/routes/Wallets/components/AssetsStep.js
  src/routes/Wallets/components/NameStep.js
  src/routes/Wallets/components/NewWalletButtons.js
  src/routes/Wallets/components/WalletsIndexView.js
  src/routes/Wallets/index.js
  src/routes/Wallets/modules/wallets.js
  src/routes/Wallets/sagas/index.js
Due: npm run lint:js

Update keystore dependency version in lockfile
  package-lock.json
Due: none

JWWEB-45 update WalletFace component
  src/routes/Wallets/components/NewWalletButtons.js
  src/routes/Wallets/components/WalletCard.js
  src/routes/Wallets/components/WalletFace.js
  src/routes/Wallets/styles/walletActions.scss
  src/routes/Wallets/styles/walletFace.scss
Due: npm run lint:js, npm run lint:css

JWWEB-45 update WalletFace component
  src/routes/Wallets/components/WalletFace.js
Due: npm run lint:js

Moving components to the root components
  src/components/AssetsStep/AssetsStep.js
  src/components/AssetsStep/index.js
  src/components/NameStep/NameStep.js
  src/components/NameStep/index.js
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/NewWalletButtons/index.js
  src/components/NewWalletButtons/newWalletButtons.scss
  src/components/WalletActions/WalletActions.js
  src/components/WalletActions/index.js
  src/components/WalletActions/walletActions.scss
  src/components/WalletCard/WalletCard.js
  src/components/WalletCard/index.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletFace/index.js
  src/components/WalletFace/walletFace.scss
  src/components/WalletPassword/WalletPassword.js
  src/components/WalletPassword/index.js
  src/components/WalletPassword/walletPassword.scss
Due: npm run lint:js, npm run lint:css

Updating components call path
  src/routes/Wallets/routes/Addresses/components/MnemonicAddressesList.js
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
  src/routes/Wallets/routes/Start/components/WalletsStartView.js
  src/routes/Wallets/styles/wallets.scss
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

WalletCard add in storybook
  src/components/WalletActions/WalletActions.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletFace/WalletFace.js
  src/components/WalletLoading/WalletLoading.js
  src/components/WalletLoading/WalletLoading.scss
  src/components/WalletLoading/index.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.scss
  src/components/base/JIcon/JIcon.js
  src/styles/core.scss
  stories/components/WalletCard.stories.js
  stories/components/index.js
  stories/index.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

Rename prop 'hasNotBorder'; change 'null' on 'undefined'
  src/components/WalletFace/WalletFace.js
  src/components/base/JFlatButton/JFlatButton.js
Due: npm run lint:js

Change the view logic of the border to JFlatButton
  src/components/WalletActions/WalletActions.js
  src/components/WalletCard/WalletCard.js
  src/components/WalletFace/WalletFace.js
  src/components/base/JFlatButton/JFlatButton.js
  src/components/base/JFlatButton/jFlatButton.scss
  stories/components/base/JFlatButton.stories.js
  stories/components/index.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

Change path, WalletFace update for react PureComponent
  src/components/WalletFace/WalletFace.js
  src/routes/Wallets/WalletsIndexView.js
  src/routes/Wallets/routes/Start/WalletsStartView.js
Due: npm run lint:js

Remove AssetsStep and WalletPassword
  src/components/AssetsStep/AssetsStep.js
  src/components/AssetsStep/index.js
  src/components/WalletPassword/WalletPassword.js
  src/components/WalletPassword/index.js
  src/components/WalletPassword/walletPassword.scss
  src/routes/Wallets/routes/Create/components/WalletsCreateView.js
  src/routes/Wallets/routes/Import/components/WalletsImportView.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Fix icon transparent
  src/components/NewWalletButtons/NewWalletButtons.js
  src/components/WalletFace/WalletFace.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: src/**/*.js
  npm run lint:css: any of: src/**/*.scss
