Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

Update WalletNameStep
  src/components/WalletNameStep/WalletNameStep.js
  src/routes/Wallets/routes/Create/WalletsCreateView.js
  src/routes/Wallets/routes/Import/WalletsImportView.js
  src/routes/Wallets/routes/Rename/WalletsRenameView.js
Due: npm run lint:js

Add activeClassName for Link in JTabs
  src/components/base/JTabs/JTabs.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
Due: npm run lint:js

Samll fix
  src/components/base/JTabs/JTabs.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
Due: npm run lint:js

Update NotFoundView
  src/routes/NotFound/NotFoundView.js
  src/routes/NotFound/NotFoundViewContainer.js
  src/routes/NotFound/modules/notFound.js
  src/routes/NotFound/notFoundView.scss
  src/routes/NotFound/sagas/index.js
  src/routes/NotFound/sagas/notFound.js
  src/routes/NotFound/styles/notFound.scss
  src/store/sagas.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Add Terms view
  src/routes/Terms/TermsView.js
  src/routes/Terms/TermsViewContainer.js
  src/routes/Terms/index.js
  src/routes/Terms/modules/terms.js
  src/routes/Terms/sagas/index.js
  src/routes/Terms/sagas/terms.js
  src/routes/Terms/termsView.scss
  src/routes/index.js
  src/store/sagas.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Update ESCButton
  src/components/ESCButton/ESCButton.js
Due: npm run lint:js

Update ModalHeader
  src/components/ModalHeader/ModalHeader.js
Due: npm run lint:js

Correct icon in AddDigitalAssets
  src/components/DigitalAssetsGrid/AddDigitalAsset/AddDigitalAsset.js
  src/components/DigitalAssetsGrid/AddDigitalAsset/addDigitalAsset.scss
Due: npm run lint:js, npm run lint:css

Add text instead of icon, fix view of name
  src/components/DigitalAssetsGrid/Asset/Asset.js
  src/components/DigitalAssetsGrid/Asset/asset.scss
Due: npm run lint:js, npm run lint:css

Update ModalHeader props
  src/components/ModalHeader/ModalHeader.js
Due: npm run lint:js

Update using of persist selectors
  src/routes/Terms/sagas/terms.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
  src/routes/Wallets/routes/RenameAddress/sagas/walletsRenameAddress.js
  src/routes/Wallets/routes/Start/sagas/walletsStart.js
  src/routes/Wallets/sagas/wallets.js
  src/store/stateSelectors.js
Due: npm run lint:js

Add selectors for persist containers
  flow-typed/types.js
  src/routes/NotFound/sagas/notFound.js
  src/routes/Terms/sagas/terms.js
  src/routes/Wallets/routes/Addresses/sagas/walletsAddresses.js
  src/routes/Wallets/routes/Backup/sagas/walletsBackup.js
  src/routes/Wallets/routes/Create/sagas/walletsCreate.js
  src/routes/Wallets/routes/Delete/sagas/walletsDelete.js
  src/routes/Wallets/routes/Import/sagas/walletsImport.js
  src/routes/Wallets/routes/Rename/sagas/walletsRename.js
  src/routes/Wallets/routes/RenameAddress/sagas/walletsRenameAddress.js
  src/routes/Wallets/routes/Start/sagas/walletsStart.js
  src/routes/Wallets/sagas/wallets.js
  src/store/stateSelectors.js
Due: npm run lint:js

JWWEB-196 Update JSearch component
  src/components/base/JSearch/JSearch.js
  src/components/base/JSearch/jSearch.scss
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
Due: npm run lint:js, npm run lint:css

Fake activity on setting icon
  src/routes/DigitalAssets/routes/Grid/digitalAssetsGridView.scss
Due: npm run lint:css

Update WalletsDeleteView (apply ButtonWithConfirm changes)
  src/config.js
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
  src/routes/Wallets/walletsView.scss
Due: npm run lint:js, npm run lint:css

Update ButtonWithConfirm
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/ButtonWithConfirm/ButtonWithConfirmContainer.js
  src/components/ButtonWithConfirm/buttonWithConfirm.scss
  src/components/ButtonWithConfirm/index.js
Due: npm run lint:js, npm run lint:css

JWWEB-195 Create base view PopupButton
  src/components/PopupButton/PopupButton.js
  src/components/PopupButton/index.js
  src/components/PopupButton/popupButton.scss
  src/components/index.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

Remove lock icon of disabled JInput state
  src/components/base/JInput/jInput.scss
Due: npm run lint:css

changed digital assets state
  flow-typed/types.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/index.js
  src/components/index.js
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/routes/DigitalAssets/sagas/digitalAssetsSaga.js
  src/store/stateSelectors.js
Due: npm run lint:js

fix problems with digital assets and sync with develop
  src/routes/CustomAsset/components/CustomAsset.js
  src/routes/index.js
  src/services/web3.js
Due: npm run lint:js

changed $page-header-height
  src/styles/_base.scss
Due: npm run lint:css

Fix 200 stylelint errors
  src/components/base/JAssetSymbol/jAssetSymbol.scss
Due: npm run lint:css

updated flowtype to 0.85, added redux-dev-tools, fix flow errors
  flow-typed/npm/ramda_v0.x.x.js
  flow-typed/types-digitalAssets.js
  flow-typed/types.js
  package-lock.json
  package.json
  src/routes/Funds/routes/Convert/modules/convertFunds.js
  src/routes/Funds/routes/Receive/modules/receiveFunds.js
  src/routes/Funds/routes/Send/modules/sendFunds.js
  src/routes/Transactions/modules/transactions.js
  src/routes/modules/networks.js
  src/store/configureStore.js
  src/store/reducers.js
Due: npm run lint:js

add digital asset handler
  src/components/DigitalAssetsGrid/AddDigitalAsset/AddDigitalAsset.js
Due: npm run lint:js

JSearch fix
  src/components/DigitalAssetsGrid/Asset/AssetCardBody/AssetCardBody.js
  src/components/base/JSearch/JSearch.js
  src/components/base/JSearch/JSearchContainer.js
  src/components/base/JSearch/index.js
Due: npm run lint:js

remove old layout files
  src/layouts/ActiveAssetsLayout/ActiveAssetsLayout.js
  src/layouts/ActiveAssetsLayout/ActiveAssetsLayoutContainer.js
  src/layouts/ActiveAssetsLayout/activeAssetsLayout.scss
  src/layouts/ActiveAssetsLayout/index.js
  src/layouts/DigitalAssets/DigitalAssetsLayout.js
  src/layouts/DigitalAssets/digitalAssetsLayout.scss
  src/layouts/DigitalAssets/index.js
  src/layouts/DigitalAssetsLayout/DigitalAssetsLayout.js
  src/layouts/DigitalAssetsLayout/DigitalAssetsLayoutContainer.js
  src/layouts/DigitalAssetsLayout/digitalAssetsLayout.scss
  src/layouts/DigitalAssetsLayout/index.js
Due: npm run lint:js, npm run lint:css

JWWEB-200 Create PopupButton component
  src/components/PopupButton/PopupButton.js
  src/components/PopupButton/popupButton.scss
  src/public/assets/icons/new-pack/medium/filter-selected-gray.svg
  src/routes/CustomAsset/index.js
Due: npm run lint:js, npm run lint:css

flowtype fixes
  src/routes/DigitalAssets/index.js
  src/routes/DigitalAssets/modules/digitalAssets.js
Due: npm run lint:js

Add to storybook
  stories/components/PopupButton.stories.js
  stories/components/index.js
  stories/styles.css
Due: none

JWWEB-202 Custom checkbox component
  src/components/base/JCheckbox/JCheckbox.js
  src/components/base/JCheckbox/jCheckbox.scss
  src/routes/CustomAsset/index.js
  stories/components/base/JCheckbox.stories.js
  stories/components/base/index.js
Due: npm run lint:js, npm run lint:css

Update hover
  src/components/base/JCheckbox/jCheckbox.scss
Due: npm run lint:css

Add new props
  src/components/base/JCheckbox/JCheckbox.js
  stories/components/base/JCheckbox.stories.js
Due: npm run lint:js

Add children box and fix
  src/components/PopupButton/PopupButton.js
  src/components/PopupButton/popupButton.scss
  src/components/base/JIcon/jIcon.scss
  src/public/assets/icons/new-pack/medium/Dockerfile.svg
  src/public/assets/icons/new-pack/medium/close-padding-gray.svg
  src/styles/icons.scss
  src/styles/zindex.scss
  stories/components/PopupButton.stories.js
  stories/components/base/JIcon.stories.js
  stories/styles.css
Due: npm run lint:js, npm run lint:css

JWWEB-201 Create Filter for digital assets component
  src/components/DigitalAssetsFilter/DigitalAssetsFilter.js
  src/components/DigitalAssetsFilter/digitalAssetsFilter.scss
  src/components/DigitalAssetsFilter/index.js
  src/components/base/JIcon/jIcon.scss
  src/components/index.js
  src/public/assets/icons/new-pack/medium/sort-alphabet-down-blue.svg
  src/public/assets/icons/new-pack/medium/sort-alphabet-up-blue.svg
  src/public/assets/icons/new-pack/medium/sort-asc-blue.svg
  src/public/assets/icons/new-pack/medium/sort-desc-blue.svg
  src/styles/core.scss
  src/styles/icons.scss
  stories/components/DigitalAssetsFilter.stories.js
  stories/components/base/JIcon.stories.js
  stories/components/index.js
Due: npm run lint:js, npm run lint:css

Update JCheckbox
  src/components/base/JCheckbox/JCheckbox.js
  src/styles/_base.scss
  stories/components/base/JCheckbox.stories.js
Due: npm run lint:js, npm run lint:css

Update PopupButton
  src/components/PopupButton/PopupButton.js
  src/components/PopupButton/popupButton.scss
Due: npm run lint:js, npm run lint:css

closeable screen component
  src/components/CloseableScreen/CloseableScreen.js
  src/components/CloseableScreen/closeableScreen.scss
  src/components/CloseableScreen/index.js
Due: npm run lint:js, npm run lint:css

Digital asset edit form component
  src/components/DigitalAssetEditForm/DigitalAssetEditForm.js
  src/components/DigitalAssetEditForm/digitalAssetEditForm.scss
  src/components/DigitalAssetEditForm/index.js
Due: npm run lint:js, npm run lint:css

remove deprecated utils methods
  src/utils/digitalAssets/filterDigitalAssets.js
  src/utils/digitalAssets/filterFoundDigitalAssets.js
  src/utils/digitalAssets/getActiveDigitalAssetsData.js
  src/utils/digitalAssets/getAssetDecimals.js
  src/utils/digitalAssets/getDigitalAssetByAddress.js
  src/utils/digitalAssets/getDigitalAssetSymbols.js
  src/utils/digitalAssets/getPopularDigitalAssets.js
  src/utils/digitalAssets/index.js
Due: npm run lint:js

Add lifecycle methods to AsideLayout
  src/layouts/AsideLayout/AsideLayout.js
  src/layouts/AsideLayout/AsideLayoutContainer.js
  src/layouts/AsideLayout/index.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: src/**/*.js
  npm run lint:css: any of: src/**/*.scss
