Repository jibrelnetwork/jwallet-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:css

Small optimization
  src/components/MenuPanel/Actions/More/more.scss
  src/components/MenuPanel/WalletManager/Details/details.scss
Due: npm run lint:css

balances
  flow-typed/redux/appState.js
  flow-typed/scheduler.js
  src/data/assets/main.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/services/web3.js
Due: npm run lint:js

transactions sagas
  flow-typed/redux/appState.js
  flow-typed/scheduler.js
  package-lock.json
  package.json
  src/routes/modules/transactions.js
  src/routes/sagas/blocks.js
  src/routes/sagas/transactions.js
  src/services/blockExplorer.js
  src/store/stateSelectors.js
Due: npm run lint:js

blocks (transactions loading action)
  flow-typed/redux/blocks.js
  src/routes/modules/blocks.js
  src/routes/sagas/blocks.js
Due: npm run lint:js

fix build
  src/services/web3.js
  src/store/reducers.js
  src/utils/digitalAssets/checkJNT.js
Due: npm run lint:js

balances and selectors
  flow-typed/redux/blocks.js
  package-lock.json
  src/routes/modules/blocks.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/routes/sagas/transactions.scheduler.md
  src/services/web3.js
  src/store/selectors/balances.js
  src/store/selectors/blocks.js
  src/store/selectors/digitalAssets.js
  src/store/selectors/networks.js
  src/store/stateSelectors.js
Due: npm run lint:js

JRadio updated
  src/components/base/JRadio/JRadio.js
  src/components/base/JRadio/jRadio.scss
  stories/components/base/JRadio.stories.js
  stories/components/base/index.js
Due: npm run lint:js, npm run lint:css

Addresses updated in aside
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/AddressWithName.js
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/index.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Addresses.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/Item.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/index.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/item.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/addresses.scss
  src/components/MenuPanel/WalletManager/Details/details.scss
  src/components/MenuPanel/WalletManager/Main/main.scss
Due: npm run lint:js, npm run lint:css

Small fix JRadio, Address name, Item
  src/components/MenuPanel/WalletManager/Details/Addresses/AddressWithName/AddressWithName.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/item.scss
  src/components/base/JRadio/jRadio.scss
Due: npm run lint:js, npm run lint:css

Actions added
  src/components/MenuPanel/WalletManager/Details/Actions/Actions.js
  src/components/MenuPanel/WalletManager/Details/Actions/actions.scss
  src/components/MenuPanel/WalletManager/Details/Addresses/Addresses.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/item.scss
  src/components/MenuPanel/WalletManager/Main/main.scss
Due: npm run lint:js, npm run lint:css

JRisedButton and JLoader added a dark style
  src/components/base/JLoader/JLoader.js
  src/components/base/JLoader/jLoader.scss
  src/components/base/JRaisedButton/JRaisedButton.js
  src/components/base/JRaisedButton/jRaisedButton.scss
  src/styles/colors.scss
  stories/components/base/JRaisedButton.stories.js
Due: npm run lint:js, npm run lint:css

Stylization for readonly
  src/components/MenuPanel/MenuPanel.js
  src/components/MenuPanel/WalletManager/Details/Details.js
  src/components/MenuPanel/WalletManager/Details/details.scss
  src/components/MenuPanel/WalletManager/Main/Main.js
  src/components/MenuPanel/WalletManager/Main/main.scss
  src/components/MenuPanel/WalletManager/WalletManager.js
Due: npm run lint:js, npm run lint:css

Resolve mistakes
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/Empty/Empty.js
  src/components/base/JThumbnail/JThumbnail.js
  src/components/base/JThumbnail/jThumbnail.scss
Due: npm run lint:js, npm run lint:css

Resolve mistakes
  src/components/TransactionsFilter/TransactionsFilter.js
  src/components/TransactionsFilter/transactionsFilter.scss
Due: npm run lint:js, npm run lint:css

transactions & blocks
  flow-typed/redux/blocks.js
  flow-typed/redux/transactions.js
  package-lock.json
  package.json
  src/config.js
  src/routes/DigitalAssets/sagas/digitalAssets.js
  src/routes/modules/blocks.js
  src/routes/modules/transactions.js
  src/routes/sagas/balances.js
  src/routes/sagas/blocks.js
  src/routes/sagas/index.js
  src/routes/sagas/transactions.js
  src/services/blockExplorer.js
Due: npm run lint:js

small fixes
  flow-typed/helpers.js
  src/routes/modules/blocks.js
  src/routes/sagas/balances.js
Due: npm run lint:js

remove opacity animation of walletManagerDetails
  src/components/MenuPanel/WalletManager/Details/details.scss
Due: npm run lint:css

Add ignore section to linstagedrc
  .lintstagedrc
Due: none

Add hard failure on build error
  scripts/build.js
Due: none

add wallets selectors
  src/store/selectors/wallets.js
Due: npm run lint:js

Resolve mistakes
  package-lock.json
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/Item.js
  src/components/MenuPanel/WalletManager/Details/Addresses/addresses.scss
  src/components/base/JRadio/JRadio.js
  src/components/base/JRadio/jRadio.scss
Due: npm run lint:js, npm run lint:css

Change value prop 'name' in item.js
  src/components/MenuPanel/WalletManager/Details/Addresses/Item/Item.js
Due: npm run lint:js

Fix chevrone
  src/components/MenuPanel/WalletManager/Main/main.scss
Due: npm run lint:css

AssetBalance is now accepts BigNumber as balance
  src/components/AssetBalance/AssetBalance.js
Due: npm run lint:js

Added digital assets balances preview
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridViewContainer.js
  src/store/selectors/balances.js
Due: npm run lint:js

numbers/divDecimals method
  src/utils/numbers/divDecimals.js
  src/utils/numbers/index.js
Due: npm run lint:js

ability to disable redux-logger
  src/store/configureStore.js
Due: npm run lint:js

code clean
  src/services/web3.js
Due: npm run lint:js

clean code
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/components/RoundIconButton/RoundIconButton.js
  src/routes/DigitalAssets/modules/digitalAssets.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
Due: npm run lint:js

Resolve mistakes
  src/components/AssetItem/AssetItem.js
  src/components/AssetItem/assetItem.scss
  src/components/ButtonWithConfirm/ButtonWithConfirm.js
  src/components/ButtonWithConfirm/buttonWithConfirm.scss
  src/components/base/JIcon/JIcon.js
  src/routes/Wallets/routes/Delete/WalletsDeleteView.js
Due: npm run lint:js, npm run lint:css

DigitalAssetsGridItemType moved to typed folder
  flow-typed/components.js
  src/components/DigitalAssetsGrid/DigitalAssetsGrid.js
  src/components/DigitalAssetsGrid/index.js
  src/components/DigitalAssetsManage/DigitalAssetsManage.js
  src/components/index.js
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageView.js
Due: npm run lint:js

update utils/transactions
  src/utils/transactions/checkTransactionLoading.js
  src/utils/transactions/filterFoundTransactions.js
  src/utils/transactions/flattenTransactionsByAsset.js
  src/utils/transactions/flattenTransactionsByOwner.js
  src/utils/transactions/getTransactionsByPeriod.js
  src/utils/transactions/index.js
Due: npm run lint:js

update utils/digitalAssets
  src/utils/digitalAssets/flattenDigitalAssets.js
  src/utils/digitalAssets/index.js
Due: npm run lint:js

update flow types
  flow-typed/redux/appState.js
  flow-typed/redux/blocks.js
  flow-typed/redux/digitalAssets.js
  flow-typed/redux/networks.js
  flow-typed/redux/transactions.js
  flow-typed/types.js
Due: none

update state selectors
  src/store/reducers.js
  src/store/selectors/digitalAssets.js
  src/store/selectors/networks.js
  src/store/selectors/transactions.js
  src/store/stateSelectors.js
Due: npm run lint:js

update components for transactions
  src/components/MenuPanel/MenuPanelContainer.js
  src/components/TransactionItem/TransactionItem.js
  src/components/TransactionItem/index.js
  src/components/TransactionsList/Empty/Empty.js
  src/components/TransactionsList/Empty/empty.scss
  src/components/TransactionsList/Empty/index.js
  src/components/TransactionsList/TransactionsList.js
  src/components/TransactionsList/index.js
  src/components/TransactionsList/transactionsList.scss
  src/components/index.js
Due: npm run lint:js, npm run lint:css

update blockExplorer service
  src/services/blockExplorer.js
Due: npm run lint:js

update transactions view
  src/routes/DigitalAssets/routes/Grid/DigitalAssetsGridView.js
  src/routes/Transactions/TransactionsIndexView.js
  src/routes/Transactions/TransactionsIndexViewContainer.js
  src/routes/Transactions/components/TransactionsEmpty.js
  src/routes/Transactions/components/TransactionsList.js
  src/routes/Transactions/styles/transactions.scss
  src/routes/Transactions/styles/transactionsEmpty.scss
  src/routes/Transactions/styles/transactionsList.scss
  src/routes/Transactions/transactionsView.scss
  src/routes/modules/networks.js
  src/routes/sagas/transactions.js
  src/styles/core.scss
Due: npm run lint:js, npm run lint:css

replace backOrFallback with reactRouterBack
  src/routes/DigitalAssets/routes/AddAsset/AddAssetContainer.js
  src/routes/DigitalAssets/routes/AddAsset/sagas/addAsset.js
  src/routes/DigitalAssets/routes/EditAsset/EditAssetContainer.js
  src/routes/DigitalAssets/routes/EditAsset/sagas/editAsset.js
  src/routes/DigitalAssets/routes/Manage/DigitalAssetsManageViewContainer.js
  src/routes/modules/index.js
  src/routes/modules/redirect.js
  src/routes/sagas/index.js
  src/routes/sagas/redirect.js
  src/store/sagas.js
  src/utils/browser/index.js
  src/utils/browser/reactRouterBack.js
Due: npm run lint:js

Path conditions:
  npm run lint:js: any of: src/**/*.js
  npm run lint:css: any of: src/**/*.scss
